:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* input-addon-wrapper */
.input-addon-wrapper {
  display: table;
  width: 100%;
  --input-affix-wrapper-padding: 4px 10px;
}

.input-addon-wrapper-size-large {
  --input-affix-wrapper-padding: 8px 10px;
}

.input-addon-wrapper-size-small {
  --input-affix-wrapper-padding: 0 10px;
}

/* input-addon */
.input-before-addon,
.input-after-addon {
  display: table-cell;
  position: relative;
  padding: 0 11px;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  width: 0;
  color: var(--text-color-default);
  background-color: var(--theme-gray-background);
  border: 1px solid var(--color-border-divider-line);
  border-radius: var(--larger-border-radius);
  transition: all 0.3s;
}

.input-before-addon {
  right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-after-addon {
  left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host(:not([has-addon-before])) .input-before-addon {
  display: none;
}

:host(:not([has-addon-after])) .input-after-addon {
  display: none;
}

/* input-affix-wrapper */
.input-affix-wrapper {
  display: inline-flex;
  position: relative;
  padding: var(--input-affix-wrapper-padding);
  border-radius: var(--larger-border-radius);
  width: 100%;
  color: var(--text-color-default);
  background-color: var(--antd-input-bg);
  border: 1px solid var(--color-border-divider-line);
  transition: border-color 0.3s, box-shadow 0.3s;
  overflow: visible;
}

:host([has-addon-before]) .input-affix-wrapper {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:host([has-addon-after]) .input-affix-wrapper {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-affix-wrapper:not(.input-affix-wrapper-disabled):hover {
  border-color: var(--antd-input-hover-border-color);
  z-index: 1;
}

.input-affix-wrapper:focus,
.input-affix-wrapper-focused {
  border-color: var(--antd-input-focus-border-color);
  box-shadow: 0 0 0 2px rgba(0, 113, 235, 0.2);
  z-index: 1;
}

.input-affix-wrapper-disabled {
  cursor: not-allowed;
  color: var(--text-color-disabled);
  background-color: var(--theme-gray-background);
}

/* input */
.input {
  flex: 1;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 22px;
  color: inherit;
  background-color: transparent;
  cursor: inherit;
}

.input::placeholder {
  color: var(--text-color-disabled);
  user-select: none;
}

.input:placeholder-shown {
  text-overflow: ellipsis;
}

/* input-affix */
.input-prefix,
.input-suffix {
  display: flex;
  flex: none;
  align-items: center;
}

.input-prefix {
  margin-right: 4px;
}

.input-suffix {
  margin-left: 4px;
}

:host(:not([has-prefix])) .input-prefix {
  display: none;
}

:host(:not([has-suffix])) .input-suffix:not(:has(:not(slot))) {
  display: none;
}

/* input-clear-icon */
.input-clear-icon {
  margin-left: 4px;
  font-size: 12px;
  line-height: 0.25em;
  color: var(--text-color-disabled);
  cursor: pointer;
}

:host([has-suffix]) .input-clear-icon {
  margin-right: 4px;
}

.input-clear-icon:hover {
  color: var(--antd-text-color-secondary);
}

.input-clear-icon-hidden {
  visibility: hidden;
}

/* status */
.input-addon-wrapper-status-error .input-affix-wrapper {
  border-color: var(--antd-error-color);
}

.input-addon-wrapper-status-error
  .input-affix-wrapper:not(.input-affix-wrapper-disabled):hover {
  border-color: var(--antd-error-color);
}

.input-addon-wrapper-status-error .input-affix-wrapper:focus,
.input-addon-wrapper-status-error .input-affix-wrapper-focused {
  border-color: var(--antd-error-color);
  box-shadow: 0 0 0 2px var(--antd-error-color-fade-20);
}
