.content {
  min-width: 160px;
  background: rgba(112, 161, 255, 0.12);
  color: var(--color-normal-text);
  text-shadow: 0 1px 7px #4abff7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px 0;
  width: 100%;
}
.text {
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-400);
}
.value {
  font-weight: var(--font-weight-500);
  font-size: var(--normal-data-font-size-larger);
}
