.searchBarContainer {
  display: flex;
  justify-content: space-between;
}

.gridContainer {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
}

.startGrid {
  justify-items: start;
  align-items: center;
}

.endGrid {
  justify-items: end;
  align-items: center;
}
