.desktop {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  :global(.cellWrapper) {
    justify-content: flex-start;
  }
}

.title {
  color: #fff;
  font-size: 16px;
  padding-bottom: 6px;
}

.visited {
  padding-bottom: 24px;
  margin-bottom: 20px;
  border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
}

.favorites {
  :global(.ant-spin-blur) {
    opacity: 1;
  }
  :global(.ant-spin-blur::after) {
    opacity: 0;
  }
}

.modeWrapper {
  height: 0;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .section {
    padding: 10px 30px 20px;
  }
  .modeIcon {
    margin-left: 15px;
    padding: 3px;
    border-radius: 50%;
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.1);
    &:hover {
      opacity: 1;
    }
  }

  .emptyTips {
    font-size: 16px;
    line-height: 24px;

    a {
      color: #52a6f9;
      &:hover {
        color: var(--antd-link-hover-color);
      }
    }
  }
}

.spin {
  color: #8c8c8c;
  width: 100%;
  height: 200px;
  line-height: 200px;
}

.settingsContainer {
  a {
    color: #fff;
  }

  .settings {
    cursor: pointer;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    transition-duration: 0.8s;
    transition-property: transform;
  }
  &:hover {
    .settings {
      transform: rotate(180deg);
    }
  }
}

.favoriteContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem 7%;
}

@media (max-height: 860px), (max-width: 1280px) {
  .favoriteContainer {
    gap: 1.7rem 4%;
  }
}

@media (max-height: 720px), (max-width: 1024px) {
  .favoriteContainer {
    gap: 1rem 3%;
  }
  .visited {
    padding-bottom: 18px;
    margin-bottom: 15px;
  }
}

@media (max-height: 640px), (max-width: 900px) {
  .favoriteContainer {
    gap: 0.8rem 2%;
  }
}
