.actionOptionsWrapper {
  .optionList {
    .emptyItem,
    .optionItem {
      border: 1px solid var(--palette-gray-6);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      border-top: none;

      &:first-child {
        border-top: 1px solid var(--palette-gray-6);
      }

      &:last-child {
        border-bottom: none;
      }
    }

    .optionItem {
      cursor: pointer;

      &:hover {
        background-color: var(--palette-gray-5);
      }
    }
  }

  .addIcon {
    width: 100%;
    border: 1px solid var(--palette-gray-6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 22px;
  }
}

.modalFooter {
  display: flex;
  justify-content: space-between;
}
