:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  position: relative;
}

/* ============== select Start ============== */

.select {
  position: relative;
}

.select:hover .select-selector {
  background: var(--color-brand);
}

.select-focused .select-selector {
  background: var(--color-brand-active) !important;
}

.select:hover .select-clear {
  opacity: 1;
}

.select-focused .select-selector-item {
  color: var(--color-secondary-text);
}

.select-selector {
  display: flex;
  position: relative;
  width: 100%;
  height: 46px;
  padding: 0 12px;
  border: var(--border-width-base) solid;
  border-image: linear-gradient(90deg, var(--palette-rgba-white-5), transparent, var(--palette-rgba-white-5)) 1;
  border-radius: var(--no-border-radius);
  background: var(--color-fill-bg-base-3);
  box-shadow: inset 0px 0px 11px 0px #3366ff;
  transition: all .2s cubic-bezier(.645, .045, .355, 1);
  cursor: text;
}

.select-selector-search {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-start: 11px;
  inset-inline-end: 29px;
}

.select-selector-search-input {
  width: 100%;
  height: calc(46px - var(--border-width-base) * 2);
  color: var(--color-normal-text);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  cursor: auto;
}

.select-selector-search-input::-webkit-search-cancel-button {
  display: none;
  appearance: none;
}

.select-selection-placeholder,
.select-selector-item {
  flex: 1;
  padding: 0;
  padding-inline-end: 18px;
  line-height: calc(46px - var(--border-width-base) * 2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--auxiliary-font-size);
  font-weight: var(--font-weight-500);
}

.select-selection-placeholder {
  color: var(--color-secondary-text);
  transition: none;
  pointer-events: none;
}

.select-selector-item {
  color: var(--color-normal-text);
  position: relative;
  user-select: none;
  transition: color .3s;
  font-weight: 400;
}

.select-arrow,
.select-clear {
  margin-top: -6px;
  position: absolute;
  top: 50%;
  inset-inline-start: auto;
  inset-inline-end: 11px;
  color: var(--color-normal-text);
  text-align: center;
  font-size: 12px;
  line-height: 1;
  width: 12px;
  height: 12px;
  user-select: none;
}

.select-arrow {
  pointer-events: none;
  transition: none;
}

.select-clear {
  opacity: 0;
  z-index: 1;
  transition: color .2s ease, opacity .3s ease;
  cursor: pointer;
}

.select-clear:hover {
  color: var(--color-secondary-text);
}

.ant-select-suffix {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1;
}

/* ============== select End ============== */

/* ============== dropdown Start ============== */
.select-dropdown {
  position: absolute;
  bottom: 50px;
  width: 100%;
  border-radius: var(--no-border-radius);
  background: rgba(var(--palette-tech-blue-6-channel), .4);
  box-shadow: inset 0px 0px 11px 0px #1861D6;
  backdrop-filter: blur(3px);
}

.dropdown-list {
  max-height: 160px;
  padding: 8px 0;
  overflow-y: scroll;
  overflow-anchor: none;
}

.dropdown-inner {
  display: flex;
  flex-direction: column;
  height: 36px;
}

.select-item {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: var(--no-border-radius);
  cursor: pointer;
  transition: background 0.3s ease;
}

.select-item:hover,
.select-item.selected {
  background: var(--color-fill-bg-container-1);
}

.select-item-option-content {
  font-size: var(--auxiliary-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-normal-text);
  line-height: 22px;
}

.empty-state {
  padding: 47px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-image {
  width: auto;
  height: 39px;
  user-select: none;
}

.empty-description {
  margin-top: 10px;
  color: var(--palette-rgba-white-6);
}

/* ============== dropdown End ============== */
