:host {
  display: block;
  width: fit-content;
}

:host([hidden]) {
  display: none;
}

eo-menu {
  padding: 2px;
  border-radius: 4px;
  background: var(--antd-dropdown-menu-bg);
  box-shadow: var(--antd-box-shadow-base);
  border: none;
}

eo-menu-item::part(menu-item) {
  padding: 5px 12px;
  border-radius: var(--medius-border-radius);
  min-width: max-content;
}

eo-menu-item:not([disabled]):hover::part(menu-item) {
  background-color: var(--left-sidebar-item-hover-bg);
}

eo-tooltip {
  display: block;
}

eo-link {
  display: block;
}

.menu-item-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: var(--antd-border-color-split);
}

.menu-item-danger:not([disabled])::part(menu-item) {
  color: var(--theme-red-color);
}
eo-menu-item::part(menu-icon) {
  margin-right: 8px;
}
.popover .sub-menu-item-label {
  padding: 2px 0px;
  color: var(--color-normal-text);
}
.sub-menu-wrapper {
  min-width: 160px;
  max-height: calc(100vh - 100px);
  background-color: var(--antd-dropdown-menu-bg);
  padding: 4px 0;
  border-radius: 6px;
  box-shadow: 0px 4px 12px 0px rgba(17, 37, 64, 0.08);
  overflow-x: hidden;
  overflow-y: auto;
}
.popover .menu-item-selected::part(menu-item) {
  background-color: var(--app-bar-dropdown-menu-item-hover-bg);
  color: var(--theme-blue-color);
  &::after {
    content: "✓";
    display: inline-block;
    padding: 0 5px;
  }
}
