:host {
  display: block;
  width: fit-content;
}

:host([hidden]) {
  display: none;
}

eo-menu {
  padding: 2px;
  border-radius: 4px;
  background: var(--antd-dropdown-menu-bg);
  box-shadow: var(--antd-box-shadow-base);
  border: none;
}

eo-menu-item::part(menu-item) {
  padding: 5px 12px;
  border-radius: var(--medius-border-radius);
}

eo-menu-item:not([disabled]):hover::part(menu-item) {
  background-color: var(--left-sidebar-item-hover-bg);
}

eo-tooltip {
  display: block;
}

eo-link {
  display: block;
}

.menu-item-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  line-height: 0;
  background-color: var(--antd-border-color-split);
}

.menu-item-danger:not([disabled])::part(menu-item) {
  color: var(--theme-red-color);
}
