:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.recent-visit-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.recent-visit-label {
  font-size: 12px;
  margin-right: 5px;
}
