:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 24px 35px;
  left: 0;
  border-radius: var(--no-border-radius);
}

.cardName {
  font-size: var(--title-font-size-strong);
  line-height: 22px;
  text-align: center;
  font-weight: var(--font-weight-500);
  color: var(--color-normal-text);
  text-shadow: 0 1px 4px rgba(51, 102, 255, 0.5);
  margin-bottom: 35px;
}

.descriptions {
  max-height: calc(100% - 70px);
  font-size: var(--auxiliary-font-size-small);
  overflow: auto;
  font-weight: var(--font-weight-400);
}

.descriptionsItem .itemKey {
  color: var(--color-secondary-text);
}

.descriptionsItem .itemValue {
  color: var(--color-strong-text);
}

.descriptionsItem {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.descriptionsItem>div {
  flex: 1;
  text-align: left;
  word-break: break-all;
}

.buttonContent {
  position: absolute;
  bottom: 16px;
  right: 24px;
  font-size: var(--auxiliary-font-size);
  color: #99CCFF;
  cursor: pointer;
  font-weight: var(--font-weight-500);
}

.buttonName {
  margin-left: 5px;
}
