.dialog {
  --show-dialog-border-radius: 6px;
}

.dialog::part(header-actions) {
  display: none;
}

.dialog::part(base) {
  align-items: flex-start;
}

.dialog::part(panel) {
  position: relative;
  top: 100px;
  border-radius: var(--show-dialog-border-radius);
  max-height: calc(100% - 80px - var(--sl-spacing-2x-large));
}

.body {
  display: flex;
  gap: var(--sl-spacing-large);
}

.content {
  flex: 1;
  min-width: 0;
  overflow-wrap: break-word;
}

.contentTitle {
  margin-bottom: var(--sl-spacing-medium);
  font-size: var(--sl-font-size-medium);
  font-weight: 700;
}

.expectInput {
  margin-top: 15px;
  width: 100%;
}

.icon {
  font-size: 22px;
}

.primary {
  color: var(--sl-color-primary-600);
}

.success {
  color: var(--sl-color-success-600);
}

.warning {
  color: var(--sl-color-warning-600);
}

.danger {
  color: var(--sl-color-danger-600);
}

sl-dialog::part(footer) {
  background: var(--color-fill-bg-base-3);
  padding: 14px 20px;
  border-radius: 0 0 var(--show-dialog-border-radius)
    var(--show-dialog-border-radius);
}

sl-dialog > eo-button[slot="footer"]:not(:first-of-type) {
  margin-inline-start: 0.5rem;
}

.strong {
  padding: 0 3px;
  color: var(--palette-red-6);
  background-color: var(--palette-red-1);
  border-radius: 2px;
}

.dialog.elevo {
  --show-dialog-border-radius: 12px;

  box-shadow:
    0px 9px 28px 8px rgba(0, 0, 0, 0.05),
    0px 6px 16px 0px rgba(0, 0, 0, 0.08),
    0px 3px 6px -4px rgba(0, 0, 0, 0.12);

  &::part(footer) {
    background: none;
  }
}

.expectSuffix {
  color: var(--palette-gray-7);
}
