:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

@import "~@next-shared/markdown/dist/esm/prism-tomorrow.css";

.message {
  display: flex;
  gap: 8px;
}

.main {
  flex: 1;
  min-width: 0;
}

.label {
  font-weight: bold;
  line-height: 28px;
}

.message:not(:last-child) {
  margin-bottom: 2em;
}

.invisible-dots {
  opacity: 0;
}

.failed .content {
  color: var(--color-error);
}

.command:not(:first-child) {
  margin-top: 1em;
}

.command:not(:last-child) {
  margin-bottom: 1em;
}

pre {
  white-space: pre-wrap;
  background-color: var(--palette-gray-3);
  border-radius: 6px;
  padding: 1em;
}

.markdown > :first-child {
  margin-top: 0;
}

.markdown > :last-child {
  margin-bottom: 0;
}

.avatar {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texting::after {
  content: "   ";
  animation: texting 2s infinite;
  white-space: pre;
}

@keyframes texting {
  0% {
    content: "   ";
  }
  25% {
    content: ".  ";
  }
  50% {
    content: ".. ";
  }
  75% {
    content: "...";
  }
  100% {
    content: "   ";
  }
}

pre[class*="language-"] {
  overflow: visible;
}

pre[class*="language-"],
code[class*="language-"] {
  white-space: pre-wrap;
}

eo-avatar.role-assistant::part(avatar-icon) {
  background-color: var(--palette-blue-5);
}

.content {
  word-wrap: break-word;
}

.plain {
  white-space: pre-wrap;
}
