:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.buttonWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background: transparent;
  border: none;
}

.default {
  width: 388px;
  height: 128px;
}

.parallelogram {
  width: 430px;
  height: 119px;
}

.stereoscopic {
  width: 366px;
  height: 150px;
}

.shading {
  width: 362px;
  height: 119px;
}

.round {
  height: 116px;
  width: 338px;
}

.buttonBg {
  position: absolute;
}

.button-container {
  z-index: 0;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: normal;
  color: var(--button-text-color);
  line-height: 38px;
  letter-spacing: 2px;
  background: linear-gradient(180deg, #fdfdfd 0%, #91a6d5 61%, #ecf4ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
