:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 32px 72px;
}

:host([hidden]) {
  display: none;
}

.image {
  margin-bottom: 24px;
}

.image img {
  max-width: 250px;
}

.title {
  font-size: 24px;
  line-height: 1.8;
  font-weight: var(--font-weight-500);
  color: var(--color-header-text);
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-secondary-text);
}
