:root,
.sl-theme-dark {
  --sl-z-index-drawer: 1000;
  --sl-z-index-dialog: 1000;
  --sl-z-index-dropdown: 1050;
  --sl-z-index-toast: 1000;
  --sl-z-index-tooltip: 1070;
}

.sl-toast-stack {
  width: 100%;
  left: 0;
  right: auto;
  overflow: initial;
  pointer-events: none;
}

.sl-toast-stack > sl-alert {
  pointer-events: all;
}
