:host {
  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap);
}

:host([hidden]) {
  display: none;
}

/* https://github.com/w3c/csswg-drafts/issues/3559#issuecomment-1758459996 */
@supports not (inset: 0) {
  :host {
    display: grid;
    grid-auto-flow: row;
  }
}
