:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

svg {
  display: block;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

span {
  color: var(--palette-gray-6);
  padding: 10px 15px;
  border-bottom: 1px dashed var(--palette-gray-5);
  line-height: 1;
  font-size: 14px;
}
