:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}
.groupWrapper {
  display: flex;
  flex-wrap: wrap;
}
.cardWrapper {
  &.topBottomWrapper {
    width: 96px;
    text-align: center;
    .contentWrapper {
      margin-top: -10px;
    }
  }
  &.leftRightWrapper {
    width: 220px;
    &.thinCard {
      width: 165px;
    }
    display: flex;
    .contentWrapper {
      margin-left: 5px;
    }
  }
  .iconWrapper {
    width: 96px;
    height: 85px;
    &.host {
      background: url("../asset/images/host.svg") no-repeat;
    }
    &.cloud {
      background: url("../asset/images/cloud.svg") no-repeat;
    }
    &.network {
      background: url("../asset/images/network.svg") no-repeat;
    }
    &.database {
      background: url("../asset/images/database.svg") no-repeat;
    }
  }
  .contentWrapper {
    &.hasDescription {
      padding-top: 5px;
      .titleWrapper {
        font-weight: 600;
      }
    }
    &.noDescription {
      padding-top: 15px;
      .titleWrapper {
        font-weight: 500;
        opacity: 0.75;
      }
    }
    .numberWrapper {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #0bf9fe;
      text-shadow: 0px 2px 6px rgba(25, 0, 255, 0.5);
    }
    .descriptionWrapper {
      .descriptionText {
        font-weight: 400;
        font-size: 10px;
      }
      .trendIcon {
        width: 7px;
        height: 9px;
        display: inline-block;
        margin-right: 2px;
        &.up {
          background: url("../asset/images/arrow-up.svg") no-repeat;
        }
        &.down {
          background: url("../asset/images/arrow-down.svg") no-repeat;
        }
      }
    }
  }
}
