:host {
  --eo-tab-item-gap: 24px;
}

:host([type="panel"]) {
  --eo-tab-item-gap: 0px;
}

.tabs-wrapper {
  display: flex;
  gap: var(--eo-tab-item-gap);
}

:host([type="text"]),
:host([type="capsule"]) {
  --eo-tab-item-gap: 0px;

  eo-tab-item:not(:last-child)::part(tab-item)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 12px);
    right: -1px;
    left: auto;
    bottom: auto;
    background-color: var(--color-text-divider-line);
  }
}
