:host {
  display: inline-block;
}

.popover-wrapper {
  position: relative;
}

.popover-content {
  position: fixed;
  /* padding-top: 4px; */
  /* min-width: 100%; */
  z-index: 1050;
}

.popover-content.open {
  display: block;
}

.popover-content.close {
  display: none;
}

.popover-content::before {
  position: absolute;
  inset: -4px 0px -4px -7px;
  z-index: -9999;
  opacity: 0.0001;
  content: " ";
}

.default-slot {
  position: relative;
  display: block;
  pointer-events: all;
}
