.launchpadLink {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.launchpadLink svg {
  vertical-align: top;
  filter: grayscale(100%);
  opacity: 0.6;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.launchpadLink:hover svg {
  color: var(--color-brand-hover) !important;
  filter: none;
  opacity: 1;
}
