*,
*:after,
*:before {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper,
.thumbnailLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLayer {
  width: 90%;
  margin-bottom: 16px;
  align-self: center;
  pointer-events: none;
}
.thumbnailLayout {
  flex-direction: column;
}
.layout {
  display: flex;
  gap: 17px;
  margin-top: 27px;
  align-items: stretch;
}
.clusterWrapper {
  width: 100%;
  height: auto;
}
.clusterContainer {
  width: 100%;
  height: 100%;
  border: 3px solid;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
}
.clusterHostContainer {
  background: rgba(7, 4, 21, 0.85);
  backdrop-filter: blur(1px);
  border-image: radial-gradient(circle, rgba(55, 229, 252, 1), #007aca) 3 3;
}

.clusterK8sContainer {
  background: rgba(7, 4, 21, 0.8);
  border-image: radial-gradient(circle, rgba(255, 102, 51, 1), #ff663399) 3 3;
}

.clusterContent {
  flex: 1;
  padding: 20px 10px;
  width: 100%;
}
.clusterContentLayout {
  display: grid;
  width: 100%;
}
.itemContent {
  width: 118px;
  pointer-events: none;
  height: 105px;
}

.clusterTitle {
  width: 100%;
  text-align: center;
  line-height: 57px;
  font-size: var(--auxiliary-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-normal-text);
  position: relative;
  display: flex;
}
.title {
  flex: 1;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clusterTitle:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.clusterHostContainer > .clusterTitle:after {
  background: linear-gradient(180deg, rgba(26, 103, 157, 0.2) 0%, #1b69a0 100%);
}

.clusterK8sContainer > .clusterTitle:after {
  background: linear-gradient(
    180deg,
    rgba(255, 102, 51, 0.1) 0%,
    rgba(255, 102, 51, 0.55) 100%
  );
}
