:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.menu-item {
  display: flex;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.menu-item.disabled {
  cursor: not-allowed;
  color: var(--text-color-disabled);
}

.menu-item-icon {
  margin-right: 8px;
}
