<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <basic.general-form id="form">
    <basic.code-editor id="editor1" label="yaml:" mode="brick_next_yaml" name="yaml" required="true">
    </basic.code-editor>

    <basic.code-editor label="json:" mode="json" name="json" required="true" show-line-numbers="false" tab-size="4"
      min-lines="5" max-lines="10">
    </basic.code-editor>

    <basic.general-button id="btn1">提交</basic.general-button>
    <basic.general-button id="btn2">设置默认值</basic.general-button>
  </basic.general-form>
</body>
<script>
  const editor1 = document.getElementById("editor1");
  const form = document.getElementById("form");
  const btn1 = document.getElementById("btn1");
  const btn2 = document.getElementById("btn2");

  form.setInitValue({
    yaml: '- a: <% CTX.a %>',
    json: JSON.stringify({ a: 1 })
  })

  editor1.addEventListener("code.change", (e) => {
    console.log(e);
  })

  btn1.addEventListener("click", () => {
    console.log(form.validate());
    console.log(form.getFieldsValue());
  });

  btn2.addEventListener("click", () => {
    form.setInitValue({
      yaml: '- b: <% APP.homepage %>'
    })
  });

  form.addEventListener("validate.success", () => {
    alert("success")
  })

  form.addEventListener("validate.error", () => {
    alert("fail")
  })
</script>

</html>
