:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.tree-item {
  min-height: 24px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;

  &:hover .tree-item-label {
    color: var(--palette-blue-4) !important;
  }

  .tree-item-indentation {
    flex-shrink: 0;
  }

  .tree-item-content {
    min-width: 0;
    flex: 1;
    display: flex;
    align-items: center;

    .tree-item-expand-button {
      padding: 4px;
      margin: 0 4px;
      width: 10px;
      flex-shrink: 0;
    }

    .tree-item-label {
      color: var(--color-header-text);
      min-width: 0;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .tree-item-suffix {
    flex-shrink: 0;
  }
}

:host([selected]) {
  .tree-item {
    background-color: var(--palette-blue-1);
  }

  .tree-item:hover .tree-item-label {
    color: var(--color-header-text) !important;
  }
}
