{
  "root": true,
  "extends": "@next-core/eslint-config-next",
  "overrides": [
    {
      "files": [
        "bricks/*/scripts/**/*.js",
        "shared/*/scripts/**/*.js"
      ],
      "extends": "@next-core/eslint-config-next/node"
    },
    {
      "files": ["cypress/**/*.js"],
      "extends": "@next-core/eslint-config-next/node",
      "globals": {
        "cy": true,
        "Cypress": true
      },
      "env": {
        "mocha": true,
        "jest": false
      }
    },
    {
      "files": ["jest/__mocks__/**/*.{js,ts,jsx,tsx}"],
      "env": {
        "jest": true
      }
    }
  ]
}
