:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.diagram {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
}

.diagram:focus {
  outline: none;
}

.ready {
  opacity: 1;
}

.dragger,
.lines,
.line-labels,
.nodes {
  position: absolute;
  top: 0;
  left: 0;
}

.node {
  position: absolute;
  visibility: hidden;
}

.dragger {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.line-label {
  position: absolute;
  transform: translate(-50%, -50%);
  white-space: pre-line;
  width: max-content;
  text-align: center;
}

.lines {
  pointer-events: none;
}

.line.interactable {
  pointer-events: auto;
}
