:host {
  display: block;
  --menu-item-icon-size: 20px;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* title */
.menu-submenu-title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 8px 12px;
  line-height: 20px;
  color: var(--left-sidebar-item-normal-color);
  border-radius: var(--larger-border-radius);
  cursor: pointer;
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

.menu-submenu-title-icon-container {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--menu-item-icon-size);
  height: var(--menu-item-icon-size);
  font-size: var(--menu-item-icon-size);
  color: var(--left-sidebar-item-collapsed-icon-color);
}

.menu-submenu-title-text {
  flex: 1;
  margin-left: 14px;
  margin-right: 12px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.menu-submenu-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  color: var(--left-sidebar-item-arrow-color);
  transform: translateY(-2px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-submenu-arrow::before,
.menu-submenu-arrow::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentColor;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-submenu-arrow::before {
  transform: rotate(45deg) translateX(2.5px);
}

.menu-submenu-arrow::after {
  transform: rotate(-45deg) translateX(-2.5px);
}

.menu-submenu-collapsed .menu-submenu-arrow {
  transform: translateY(-50%);
}

.menu-submenu-collapsed .menu-submenu-arrow::before {
  transform: rotate(-45deg) translateX(2.5px);
}

.menu-submenu-collapsed .menu-submenu-arrow::after {
  transform: rotate(45deg) translateX(-2.5px);
}

.menu-submenu-title:hover {
  background: var(--left-sidebar-item-hover-bg);
}

/* sub */
.menu-sub {
  display: grid;
  grid-template-rows: 1fr;
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

.menu-submenu-collapsed .menu-sub {
  grid-template-rows: 0fr;
  opacity: 0;
}

.menu-sub-inner {
  overflow: hidden;
}

.menu-sub-inner slot::slotted(*) {
  margin-top: 2px;
}

/* menu-collapsed */
:host([menu-collapsed]) {
  .menu-submenu-title {
    padding: 0px calc(50% - var(--menu-item-icon-size) / 2);
  }
  .menu-submenu-title-text {
    opacity: 0;
  }
  .menu-submenu-arrow {
    opacity: 0;
  }
}

:host(:not([menu-collapsed])) .menu-submenu-title-text {
  white-space: pre-wrap;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* selected & collapsed */
:host([selected]):host([menu-collapsed]),
:host([selected]):host([collapsed]) {
  .menu-submenu-title {
    background: var(--left-sidebar-item-selected-bg);
    color: var(--left-sidebar-item-selected-color);
  }
  .menu-submenu-title-icon-container,
  .menu-submenu-arrow {
    color: var(--left-sidebar-item-selected-color);
  }
}

:host([selected]) .menu-submenu-title-text {
  font-weight: var(--font-weight-500);
}
