:host,
:host-context(html[data-override-theme="light"]) {
  --search-box-background: #fff;
  --node-color: #595959;
  --node-color-focus: #595959;
  --node-background-active: #e0eeff;
  --node-background-focus: #e0eeff;
  --node-icon-background-hover: #fff;
}
:host-context(html[data-theme="dark-v2"]),
:host-context(html[data-override-theme="dark-v2"]) {
  --search-box-background: #181818;
  --node-color: #c5c5c5;
  --node-color-focus: #fff;
  --node-background-active: rgba(255, 255, 255, 0.08);
  --node-background-focus: #1a7aff;
  --node-icon-background-hover: rgba(90, 93, 94, 0.31);
}

.searchBox {
  position: sticky;
  top: 0;
  background-color: var(--search-box-background);
  padding: 5px 10px 10px;
  z-index: 1;
}

.searchBox .filter-input-wrapper {
  background-color: var(--search-box-background);
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 2px 7px;
  color: var(--antd-input-color);
  font-size: 14px;
  line-height: 1.5715;
  display: inline-flex;
  border-radius: 3px;
  transition: all 0.3s;
  box-sizing: border-box;
}

.searchBox .filter-input-wrapper.focus {
  background-color: var(--search-box-background);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(0, 113, 235, 0.2);
}

.searchBox .filter-input-wrapper input {
  text-overflow: ellipsis;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: var(--search-box-background);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--antd-text-color);
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  color: var(--antd-input-color);
  font-size: 14px;
  line-height: 1.5715;
  background-image: none;
  transition: all 0.3s;
}

.prefix {
  margin-right: 4px;
}

.suffix {
  margin-left: 4px;
}

.searchBox .prefix,
.searchBox .suffix {
  display: flex;
  flex: none;
  align-items: center;
}

.clear-button {
  cursor: pointer;
}

.tree {
  list-style: none;
  margin: 0;
  padding: 0;
}

.placeholder {
  color: var(--antd-input-placeholder-color);
  padding: 0 15px;
}

.nodeLabelLink {
  display: block;
}

.nodeLabelLink::part(link) {
  display: flex;
}

.nodeLabelRow {
  display: flex;
  cursor: pointer;
  height: 22px;
  padding-right: 10px;
  flex: 1;
  min-width: 0;
}

.nodeLabelRow:hover,
.nodeLabelRow.hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.nodeLabelLink:focus .nodeLabelRow.active {
  background-color: var(--node-background-focus);
}

.nodeLabel {
  display: flex;
  align-items: center;
  min-width: 0;
  flex: 1;
}

.unreachable {
  opacity: 0.3;
}

.nodeAction,
.nodeAction:hover,
.nodeLabelRow .nodeLabel {
  color: var(--node-color);
}

.nodeLabelLink:focus .nodeLabel {
  color: var(--node-color-focus);
}

.nodeLabelRow.matched .nodeLabel {
  color: var(--palette-orange-6);
}

.nodeLabelRow.active {
  background-color: var(--node-background-active);
}

.nodeIconWrapper {
  display: flex;
  width: 24px;
  flex-shrink: 0;
}

.nodeIcon,
.collapseIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 13px;
}

.collapseIcon {
  display: none;
}

.nodeLabelRow.collapsed .nodeIcon,
.nodeLabelRow.collapsible .nodeIconWrapper:hover .nodeIcon {
  display: none;
}

.nodeLabelRow.collapsed .collapseIcon,
.nodeLabelRow.collapsible .nodeIconWrapper:hover .collapseIcon {
  display: flex;
}

.nodeLabelRow.collapsible .nodeIcon:hover,
.nodeLabelRow.collapsible .collapseIcon:hover {
  background-color: var(--node-icon-background-hover);
}

.nodeName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nodeLabelRow:not(:hover, .fixedActions) .nodeActionsBar {
  display: none;
}

.badge {
  margin: 0 3px;
}

.collapsed + .tree {
  display: none;
}

.hightlight {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #fcd93f;
}
