:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.ant-tree-select {
  width: 100%;
  min-height: 28px;
  height: max-content;
}

.ant-select-lg {
  height: 38px;
}

.ant-select-sm {
  height: 20px;
}
.ant-select-multiple .ant-select-selector {
  border-radius: var(--small-border-radius);
}
.ant-select-multiple .ant-select-selector:after {
  line-height: 22px;
}
