:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.ant-tree-select {
  width: 100%;
  min-height: 30px;
  height: max-content;
}

.ant-select-lg {
  height: 38px;
}

.ant-select-sm {
  height: 20px;
}
