:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: space-between;
  background: #050c27;
  position: absolute;
}
.content {
  width: calc(100% - 30px);
  flex: auto;
  margin: 0 15px;
  background-image: url("./left.svg"), url("./right.svg"), url("./bottom.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top left, top right, left bottom;
  background-size: contain;
}
