.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background: var(--color-fill-global-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.35;
    background: radial-gradient(#3366FF 0%, rgba(51,102,255,0) 100%);
}

.titleWrapper {
    transform: translate(-50px,0);
}
.title {
    color: var(--color-normal-text);
    font-size: 46px;
}
.description {
    color: var(--color-secondary-text);
    font-size: 16px;
    letter-spacing: 3px;
}
.progress {
    font-size: 100px;
    color: rgba(51, 102, 255, 0.5);
    position: absolute;
    z-index: -1;
    left: calc(50% - 80px);
}
