.advanced-form-item {
  position: relative;

  .advanced-mode-check-wrapper {
    position: absolute;
    top: 6px;
    right: 6px;
    line-height: 0;
    z-index: 1;

    eo-icon[icon="code"] {
      cursor: pointer;
      padding: 2px 4px;
      border-radius: 6px;
      color: var(--text-color-secondary);

      &.isActive {
        background: var(--color-brand);
        color: var(--color-normal-text);
      }
    }
  }
}
