:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.flipperWrapper {
  display: flex;
  background-image: url(../asset/images/flipper5-Bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  flex-flow: column;
  height: 93px;
}

.title-content {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 7px;
}
.prefix {
  margin-right: 1px;
}
.default-title-prefix {
  width: 18.42px;
  height: 18.42px;
  background-image: url(../asset/images/flipper5-title-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.title {
  font-size: 16px;
  font-family: PangMenZhengDao-3, PangMenZhengDao;
  font-weight: normal;
  color: #ffffff;
  line-height: 18px;
}

.data-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 14px 0 14px;
}

.data {
  font-size: 36px;
  font-family: Roboto-Black, Roboto;
  font-weight: 900;
  color: #ffffff;
  line-height: 42px;
  letter-spacing: 1px;
}
.unit {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 42px;
  align-self: flex-end;
  margin-left: 12px;
}
.data-wrapper {
  /* padding: 0 32px 23px 41px; */
  justify-content: center;
  display: flex;
  height: 59px;
}
