:root {
  --eo-markdown-display-code-color: #b30056;
  --eo-markdown-display-code-background: #ffe6ec;
  --eo-markdown-display-blockquote-border-color: #bcc0c5;
}

html[data-theme="dark"],
html[data-theme="dark-v2"] {
  --eo-markdown-display-code-color: #f3679a;
  --eo-markdown-display-code-background: var(--color-fill-bg-base-1);
}
