:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.plain {
  cursor: inherit !important;
  color: inherit !important;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--antd-btn-link-color);
}

.link:not(.disabled, .danger):hover {
  color: var(--antd-btn-link-hover-color);
}

.link:not(.disabled, .danger):active {
  color: var(--antd-btn-link-active-color);
}

.disabled {
  cursor: not-allowed;
  color: var(--color-disabled-text);
}

.underline {
  text-decoration: underline;
}

.danger {
  color: var(--antd-btn-danger-bg-image);
}

.text {
  color: var(--antd-btn-fade-text-color);
}

.text:not(.disabled):hover {
  color: var(--antd-btn-text-hover-color);
}

.text:not(.disabled):active {
  color: var(--antd-btn-text-active-color);
}

.danger:not(.disabled):hover {
  color: var(--antd-btn-danger-hover-bg);
}

.danger:not(.disabled):hover {
  color: var(--antd-btn-danger-active-bg);
}

eo-icon {
  line-height: 1em;
}

.prefix-icon {
  margin-right: 4px;
}

.external-icon {
  margin-left: 6px;
  color: var(--color-disabled-text);
}
