:host {
  display: block;
  --pane-color: #595959;
}

:host-context(html[data-theme="dark-v2"]),
:host-context([data-override-theme="dark-v2"]) {
  --pane-color: #ccc;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.pane {
  display: flex;
  flex-direction: column;
  color: var(--pane-color);
  height: 100%;
}

.pane-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid transparent;
  position: relative;
}

.pane-header:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #007fd4;
}

:host(:not(:first-child)) .pane-header {
  border-top-color: rgba(204, 204, 204, 0.2);
}

.pane-scroll-shadow {
  display: none;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 3px;
  box-shadow: #000000 0 6px 6px -6px inset;
  z-index: 1;
}

.scrolled .pane-scroll-shadow {
  display: block;
}

.pane-title {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  height: 25px;
  min-width: 0;
  flex: 1;
}

.title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  padding-right: 2px;
  line-height: 1;
  flex-shrink: 0;
}

.title-label {
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pane-body {
  flex-grow: 1;
  min-height: 0;
  display: none;
  overflow: hidden;
  overflow-y: auto;
  overflow-y: overlay;
}

:host([active]) .pane-body {
  display: initial;
}

:host(:not(:hover)) ::slotted([slot="actions"]) {
  display: none;
}

.badge {
  background-color: rgb(77, 77, 77);
  color: rgb(255, 255, 255);
  border-radius: 11px;
  height: 18px;
  padding: 3px 6px;
  line-height: 13px;
  margin: 0 3px;
  font-size: 12px;
}
