.custom-scrollbar-container {
  /* For firefox: */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.03);

  /* For chrome: */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
    position: absolute;
  }

  &::-webkit-scrollbar-thumb {
    /* Transition is not working for scrollbar. */
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.03);
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}
