.progress-text {
  position: relative;
  margin-left: 12px;
  font-size: 12px;
  color: var(--palette-gray-7);
  line-height: 22px;
  min-height: 22px;
  &::before {
    content: "·";
    font-size: 16px;
    position: absolute;
    left: -10px;
    top: -4px;
  }
}

.custom-component-wrapper {
  .params {
    margin-top: 6px;
    border-radius: 3px;
    pre {
      margin: 4px 0;
    }
  }
  .params-tip,
  .error-tip,
  .result-tip {
    font-size: 0.875em;
    color: rgb(94 129 172);
  }
  .empty-tip {
    font-size: 12px;
    color: var(--palette-gray-7);
  }
  .table-wrapper {
    .table-container {
      position: relative;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 14px;
      clear: both;
      max-width: 100%;
      overflow: hidden;
      .table-content {
        overflow-x: auto;
        table {
          margin: 4px 0;
          tr {
            td {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .open-more {
      margin-top: 4px;
      font-size: 12px;
      display: flex;
      justify-content: end;
    }
  }
  .chart-wrapper {
    background: #fff;
    margin-top: 12px;
  }
}

.default-container {
  .default-toolbar-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.default-container:hover {
  .default-toolbar-container {
    visibility: visible;
  }
}
