:host {
  display: flex;
  flex-direction: column;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

eo-icon {
  line-height: 0.25em;
}

eo-link {
  width: 100%;
  height: 100%;
}

.card-wrapper {
  --local-card-border: 1px solid var(--card-item-border-color);
  --local-cover-border-bottom: 1px solid var(--card-item-border-color);
  --local-box-shadow: 0 0 0 1px var(--card-item-border-color);
  --local-card-hovered-border: none;
  --local-card-selected-border-color: var(--palette-blue-6);
  --local-card-background-color: var(--card-item-bg);
  --local-cover-background-color: var(--color-fill-bg-base-3);
  --local-card-hovered-background-color: var(--card-item-hover-bg);
  --local-card-selected-background-color: var(--local-card-background-color);
  --local-card-hovered-box-shadow: var(--card-item-hover-shadow);
  --local-card-title-color: var(--text-color-title);
  --local-card-hovered-title-color: var(--color-brand);
  --local-card-description-color: var(--text-color-secondary);
}

.card-wrapper.grayish {
  --local-card-border: 1px solid transparent;
  --local-box-shadow: 0 0 0 1px transparent;
  --local-card-hovered-border: 1px solid transparent;
  --local-card-selected-border-color: transparent;
  --local-card-background-color: #f6f8fa;
  --local-card-hovered-background-color: var(--color-fill-bg-container-1);
  --local-card-selected-background-color: var(
    --local-card-hovered-background-color
  );
  --local-card-hovered-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.06);
  --local-card-title-color: var(--color-header-text);
  --local-card-hovered-title-color: var(--color-brand);
  --local-card-description-color: var(--color-secondary-text);
  --local-card-icon-box-shadow: 0px 2px 4px 0px rgba(26, 122, 255, 0.08);
  --local-card-hovered-icon-box-shadow: none;
  --local-card-icon-background-color: var(--color-fill-bg-container-1);
  --local-card-hovered-icon-background-color: var(--palette-gray-blue-1);
  --local-card-icon-color: var(--palette-gray-blue-6);
}

.card-wrapper.grayish.dark,
.card-wrapper.grayish.dark-v2 {
  --local-card-hovered-border: 1px solid rgba(255, 255, 255, 0.12);
  --local-card-selected-border-color: transparent;
  --local-card-background-color: rgb(255 255 255 / 8%);
  --local-card-hovered-box-shadow: none;
  --local-card-icon-box-shadow: none;
  --local-card-hovered-icon-background-color: var(--palette-blue-2);
}

.card-wrapper {
  position: relative;
  background: var(--local-card-background-color);
  border: var(--local-card-border);
  border-radius: var(--larger-border-radius);
  transition: var(--card-transition);
  overflow: hidden;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-wrapper:hover {
  border-color: transparent;
  box-shadow: var(--local-card-hovered-box-shadow);
  background: var(--local-card-hovered-background-color);
}

.card-wrapper.selected {
  border-color: var(--local-card-selected-border-color);
  background-color: var(--local-card-selected-background-color);
}

/* header */
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 16px;
  height: 32px;
}

.auxiliary-text {
  font-size: 11px;
  color: var(--text-color-disabled);
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* operator */
:host([has-cover]) .operator,
:host(:not([has-header])) .operator {
  position: absolute;
  top: 6px;
  right: 8px;
}

.card-wrapper.show-actions-hover .operator {
  visibility: hidden;
}

.card-wrapper.show-actions-hover:hover .operator {
  visibility: visible;
}

/* content */
:host(:not([has-header])) .card-content {
  padding-top: 16px;
}

.card-content {
  display: flex;
  gap: 12px;
  padding: 0 16px 16px 16px;
  align-items: center;
  flex: 1;
  min-height: 0;
}

eo-tooltip::part(popup) {
  margin-top: 18px;
}

.card-tag {
  position: absolute;
  box-sizing: border-box;
  width: 80px;
  font-size: 12px;
  text-align: center;
  transform: rotate(45deg);
  z-index: 1;
  color: #fff;
  transition: transform 0.3s;

  &.color-blue {
    background-color: var(--palette-blue-6);
  }
  &.color-cyan {
    background-color: var(--palette-cyan-6);
  }
  &.color-geekblue {
    background-color: var(--palette-indigo-6);
  }
  &.color-grayblue {
    background-color: var(--palette-gray-blue-6);
  }
  &.color-gray {
    background-color: var(--palette-gray-6);
    color: var(--palette-gray-7);
  }
  &.color-green {
    background-color: var(--palette-green-6);
  }
  &.color-orange {
    background-color: var(--palette-orange-6);
  }
  &.color-purple {
    background-color: var(--palette-purple-6);
  }
  &.color-red {
    background-color: var(--palette-red-6);
  }
  &.color-yellow {
    background-color: var(--palette-yellow-6);
  }

  &.icon-tag {
    top: -4px;
    right: -32px;
    height: 24px;
    line-height: 32px;
    eo-icon {
      transform: rotate(-45deg);
    }
  }

  &.text-tag {
    line-height: 22px;
    height: 22px;
    top: 8px;
    right: -24px;
  }

  &:hover {
    transform: rotate(45deg) scale(120%);
  }
}

.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--local-card-icon-box-shadow);
  background-color: var(--local-card-icon-background-color);
}

.card-avatar eo-icon {
  color: var(--local-card-icon-color);
}

.card-wrapper:hover .card-avatar {
  box-shadow: var(--local-card-hovered-icon-box-shadow);
  background-color: var(--local-card-hovered-icon-background-color);
}

.card-avatar-circle {
  border-radius: 50%;
}

.card-avatar-round-square {
  border-radius: var(--larger-border-radius);
}

.card-content-container {
  min-width: 0;
  flex: 1;
}

.card-title {
  margin-bottom: 3px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-500);
  color: var(--local-card-title-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-wrapper:hover .card-title {
  color: var(--local-card-hovered-title-color);
}

.card-description {
  font-size: var(--sub-title-font-size-small);
  color: var(--local-card-description-color);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* expanded-area-1 */
:host(:not([has-expanded-area1])) .card-expanded-area-1 {
  display: none;
}

.card-expanded-area-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
}

/* expanded-area-2 */
:host(:not([has-expanded-area2])) .card-expanded-area-2 {
  display: none;
}

.card-expanded-area-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 10px 16px;
}

.card-cover-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* keep aspect ratio 16:9 */
  background-color: var(--local-cover-background-color);
  border-bottom: var(--local-cover-border-bottom);
}

.card-cover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
