:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

eo-icon {
  line-height: 0.25em;
}

.card-wrapper {
  position: relative;
  background: var(--card-item-bg);
  border: 1px solid var(--card-item-border-color);
  border-radius: var(--larger-border-radius);
  transition: var(--card-transition);
  overflow: hidden;
  cursor: pointer;
}

.card-wrapper:hover {
  box-shadow: var(--card-item-hover-shadow);
  background: var(--card-item-hover-bg);
  border-color: transparent;
}

/* header */
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 0 16px;
  height: 32px;
}

.auxiliary-text {
  font-size: 11px;
  color: var(--text-color-disabled);
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* operator */
:host(:not([has-header])) .operator {
  position: absolute;
  top: 6px;
  right: 8px;
}

/* content */
:host(:not([has-header])) .card-content {
  padding-top: 16px;
}

.card-content {
  display: flex;
  gap: 12px;
  padding: 0 8px 16px 16px;
}

.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.card-avatar-circle {
  border-radius: 50%;
}

.card-avatar-round-square {
  border-radius: var(--larger-border-radius);
}

.card-content-container {
  min-width: 0;
  flex: 1;
}

.card-title {
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: var(--font-weight-500);
  color: var(--text-color-title);
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-wrapper:hover .card-title {
  color: var(--color-brand);
}

.card-description {
  font-size: 12px;
  color: var(--text-color-secondary);
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* expanded-area-1 */
:host(:not([has-expanded-area1])) .card-expanded-area-1 {
  display: none;
}

.card-expanded-area-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 16px 16px;
}

/* expanded-area-2 */
:host(:not([has-expanded-area2])) .card-expanded-area-2 {
  display: none;
}

.card-expanded-area-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 10px 16px;
}
