:host {
  display: inline;
  width: fit-content;
  max-width: 100%;
}

:host([hidden]) {
  display: none;
}
.ellipsisWrap {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--line-clamp);
  white-space: normal;
  overflow: hidden;
}
