:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.container {
  overflow: hidden;
  width: 100%;

  --transform-start: translateX(0%);
  --transform-end: translateX(0%);
  --transform-duration: 0s;
}

.container:not(.ready) {
  visibility: hidden;
}

.scroll {
  width: max-content;
  white-space: nowrap;
  overflow: hidden;
  animation: scroll var(--transform-duration) linear infinite;
  color: var(--text-color-default);
  font-size: var(--normal-font-size);
}

@keyframes scroll {
  0% {
    transform: var(--transform-start);
  }

  100% {
    transform: var(--transform-end);
  }
}
