:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

icons\.general-icon {
  line-height: 0.25em;
}

.upload-wrapper {
  line-height: initial;
}

.file-list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.image-item {
  width: 686px;

  padding: 12px 20px;
  border-radius: var(--larger-border-radius);
  cursor: pointer;
}

.image-item-inner {
  position: relative;
  display: flex;
  gap: 12px;
}

.image {
  width: 38px;
  height: 38px;
}

.infos {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.file-name {
  font-size: 14px;
  font-weight: var(--font-weight-500);
  color: var(--text-color-default);
  line-height: 20px;
  margin-bottom: 4px;
}

.progress {
  width: 100%;
  height: 4px;
  background: #ffffff;
  border-radius: var(--small-border-radius);
  margin: 8px 0;
}

.more-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-size {
  font-size: 12px;
  color: var(--text-color-default);
  line-height: 18px;
}

.file-size {
  font-size: 12px;
  font-weight: var(--font-weight-500);
  color: var(--text-color-disabled);
  line-height: 18px;
}

.progress-info {
  font-size: 12px;
  font-weight: var(--font-weight-500);
  color: var(--text-color-disabled);
  line-height: 18px;
}

.error-info {
  font-size: 12px;
  color: var(--color-error);
  line-height: 18px;
}

.operators {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-icon {
  opacity: 0;
  font-size: 16px;
}

/* done */
.image-item-done {
  background: var(--antd-upload-list-type-picture-bg);
  border: 1px solid var(--antd-upload-list-type-picture-border-color);
}

.image-item-done:hover {
  background: var(--palette-blue-1);
  border-color: var(--palette-blue-1);
}

.image-item-done:hover .delete-icon {
  opacity: 1;
}

.image-item-done .delete-icon {
  color: var(--text-color-disabled);
}

.image-item-done .delete-icon:hover {
  color: var(--color-error);
}

/* uploading */
.image-item-uploading {
  background: var(--antd-upload-list-type-picture-bg);
  border: 1px dashed var(--antd-upload-list-type-picture-border-color);
}

.image-item-uploading:hover {
  background: var(--antd-upload-list-type-picture-hover-bg);
  border-color: var(--antd-upload-list-type-picture-hover-bg);
}

.image-item-uploading:hover .delete-icon {
  opacity: 1;
}

.image-item-uploading .delete-icon {
  color: var(--text-color-disabled);
}

.image-item-uploading .delete-icon:hover {
  color: var(--text-color-default);
}

/* error */
.image-item-error {
  background: var(--palette-red-1);
  border: 1px solid var(--theme-orangered-border-color);
}

.image-item-error .delete-icon {
  opacity: 1;
  color: var(--color-error);
}
