:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* pagination-total */
.pagination-total {
  margin-right: auto;
  font-size: 14px;
  color: var(--antd-pagination-total-text);
  line-height: 20px;
}

.pagination-total .pagination-total-number {
  color: var(--antd-pagination-total-strong-text);
}

/* pagination-size-changer */
.pagination-size-changer {
  margin-right: 20px;
  color: var(--antd-text-color);
}

.pagination-size-selection {
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  eo-icon {
    color: var(--pagination-size-selection-icon-color);
  }
}

/* pagination-page */
.pagination-page {
  display: flex;
  gap: 10px;
  color: var(--antd-text-color);
  user-select: none;
}

.pagination-page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  height: 28px;
  border-radius: 4px;
  min-width: 28px;
  cursor: pointer;
  font-weight: 500;
}

.pagination-page-item:hover {
  transition: all 0.3s;
}

.pagination-page-item-number {
  border: 1px solid transparent;
}

.pagination-page-item:not(.pagination-page-item-disabled):hover {
  color: var(--antd-pagination-item-hover);
}

.pagination-page-item-active {
  color: var(--color-brand);
  border-color: var(--color-brand-hover);
}

.pagination-page-item-active:not(.pagination-page-item-disabled):hover {
  color: var(--color-brand);
}
.pagination-page-item-disabled {
  color: var(--text-color-disabled);
  border-color: transparent;
  cursor: not-allowed;
}

.pagination-page-item-jump {
  position: relative;
}

.pagination-page-item-jump:hover .pagination-page-item-jump-arrow {
  opacity: 1;
}

.pagination-page-item-jump:hover .pagination-page-item-jump-ellipsis {
  opacity: 0;
}

.pagination-page-item-jump-arrow {
  position: absolute;
  color: var(--antd-pagination-item-hover);
  opacity: 0;
  transition: opacity 0.2s;
}

.pagination-page-item-jump-ellipsis {
  color: var(--text-color-disabled);
  opacity: 1;
  transition: opacity 0.2s;
}
