:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.total {
  margin-right: auto;
  font-size: 14px;
  color: var(--antd-pagination-total-text);
  line-height: 20px;
}

.total .total-number {
  color: var(--antd-pagination-total-strong-text);
}

.size-changer {
  margin-right: 9px;
  padding: 0 11px;
  color: var(--antd-text-color);
  background: var(--eo-pagination-number-background);
  border-radius: 4px;
}

.size-selection {
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  eo-icon {
    color: var(--eo-pagination-size-selection-icon-color);
  }
}

.page {
  display: flex;
  gap: 10px;
  color: var(--antd-text-color);
  user-select: none;
}

.page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
  height: 28px;
  border-radius: 4px;
  min-width: 28px;
  cursor: pointer;
  font-weight: 500;
  border: 1px solid transparent;
}

.active,
.number:not(:hover) {
  background: var(--eo-pagination-number-background);
}

.page-item:hover {
  transition: all 0.3s;
}

.number:not(.active):hover,
.arrow:not(.disabled):hover {
  background: var(--eo-pagination-hover-background);
}

.jump:not(.disabled):hover {
  color: var(--antd-pagination-item-hover);
}

.active {
  color: var(--color-brand);
  border-color: var(--color-brand);
}

.active:hover {
  color: var(--color-brand-hover);
  border-color: var(--color-brand-hover);
}

.disabled {
  color: var(--text-color-disabled);
  border-color: transparent;
  cursor: not-allowed;
}

.jump {
  position: relative;
}

.jump:hover .jump-arrow {
  opacity: 1;
}

.jump:hover .jump-ellipsis {
  opacity: 0;
}

.jump-arrow {
  position: absolute;
  color: var(--antd-pagination-item-hover);
  opacity: 0;
  transition: opacity 0.2s;
}

.jump-ellipsis {
  color: var(--text-color-disabled);
  opacity: 1;
  transition: opacity 0.2s;
}
