:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.root.open {
  display: block;
}

.root.close {
  display: none;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--mask-bg);
  z-index: 1000;
}

.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 555px;
  max-width: calc(100vw - 32px);
  padding: 30px 0 50px 0;
  background: var(--color-fill-bg-container-2);
  border-radius: var(--larger-border-radius);
  box-shadow: var(--connected-overlay-shadow);
}

.step-image {
  width: 45%;
  margin-bottom: 10px;
}

.step-title {
  line-height: 28px;
  font-size: var(--special-title-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-header-text);
}

.step-list {
  margin-top: 20px;

  .step-item {
    .step-item-icon {
      width: 10px;
      height: 10px;
      font-size: 10px;
    }

    .step-item-title {
      padding-left: 8px;
      font-size: var(--normal-font-size);
    }

    .step-item-bar {
      width: 1px;
      height: 20px;
      margin-left: 5px;
    }
  }
}

.pending-icon {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid currentColor;
}

.pending {
  .step-item-icon {
    color: var(--color-disabled-text);
  }

  .step-item-title {
    color: var(--color-disabled-text);
  }

  .step-item-bar {
    background: var(--color-disabled-text);
  }
}

.loading,
.finished {
  .step-item-icon {
    color: var(--color-brand);
  }

  .step-item-title {
    color: var(--color-brand);
  }

  .step-item-bar {
    background: var(--color-brand);
  }
}
