.highlight {
  box-shadow: rgb(74 170 189) 0px 1px 0px 0px;
}

.monaco-placeholder {
  position: absolute;
  white-space: pre-wrap;
  top: 6px;
  left: 50px;
  font-size: 16px;
  color: rgba(var(--theme-gray-color-rgb-channel), 0.4);
  pointer-events: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.monaco-editor {
  outline-width: 0;
}

.monaco-editor .overflow-guard {
  border-radius: var(--antd-button-border-radius);
  border: 1px solid var(--color-border-divider-line);
}

.code-editor-wrapper.error .overflow-guard {
  border-color: var(--antd-error-color);
}

.code-editor-wrapper {
  position: relative;
}

.code-editor-wrapper.expanded {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  backdrop-filter: blur(5px);
}

.code-editor-wrapper.expanded .toolbar {
  right: 40px;
  top: 40px;
}

.code-editor-wrapper:hover .toolbar {
  display: flex;
}

.toolbar {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
  gap: 10px;
  box-shadow: none;
  transition: none;
  border-radius: 50%;
  border: none;
}

.copy-icon,
.expand-icon {
  opacity: 0.5;
  cursor: pointer;
  font-size: 16px;
}

.copy-icon:hover,
.expand-icon:hover {
  opacity: 1;
}
