.highlight {
  color: rgb(74 170 189) !important;
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
}

.pointer {
  cursor: pointer;
}

.monaco-editor .overflow-guard {
  border-radius: var(--antd-button-border-radius);
  background: var(--color-border-divider-line);
  border: 1px solid var(--color-border-divider-line);
}

.monaco-editor .suggest-widget > .tree {
  position: fixed;
  width: inherit !important;
  background-color: var(--color-fill-bg-container-4);
}
