:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}
.text {
  position: absolute;
  z-index: 6;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  background: url(./assets/label.svg) no-repeat center left;
  backdrop-filter: blur(2px);
  transform: translate(20px, -150%) !important;
  color: rgba(255, 255, 255, 1);
  text-indent: 10px;
}

.iconImg {
  position: absolute;
  z-index: 5;
  src: "./assets/default.png";
  backdrop-filter: blur(2px);
}
.detailContent {
  position: absolute;
  opacity: 0.8;
  z-index: 20;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.leftText {
  margin-left: -20px;
  transform: translate(-100%, -150%) !important;
}
.topText {
  margin-top: -10px;
}
