:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}
.text {
  position: absolute;
  z-index: 6;
  height: 24px;
  background: linear-gradient(
    262deg,
    rgba(237, 196, 0, 0) 0%,
    rgba(237, 196, 0, 0.3) 100%
  );
  border-radius: 15px 0px 0px 1px;
  border: 2px solid;
  border-image: radial-gradient(
      circle,
      rgba(237, 196, 0, 1),
      rgba(237, 196, 0, 1),
      rgba(237, 196, 0, 1),
      rgba(237, 196, 0, 0)
    )
    2 2;
  backdrop-filter: blur(2px);
  transform: translate(20px, -150%) !important;
  border-right-style: none;
  color: rgba(255, 255, 255, 1);
  padding-left: 8px;
}

.iconImg {
  position: absolute;
  z-index: 5;
  src: "./assets/default.png";
  backdrop-filter: blur(2px);
}
.detailContent {
  position: absolute;
  opacity: 0.8;
  z-index: 20;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.leftText {
  margin-left: -20px;
  transform: translate(-100%, -150%) !important;
}
.topText {
  margin-top: -10px;
}
