:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.general-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 21px 50px 0px rgb(0 0 0 / 46%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  overflow: hidden;
}

.general-popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--antd-modal-footer-bg);
  padding: 12px;
  border-bottom: 1px solid var(--theme-gray-color);
  border-radius: 6px 6px 0 0;
  font-size: 16px;
  line-height: 16px;
  cursor: move;
  font-weight: var(--font-weight-500);

  .general-popup-header-toolbar {
    display: flex;
    gap: 12px;
    cursor: auto;
  }
}

.general-popup-close-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--antd-text-color-secondary);
  &:hover {
    color: var(--antd-icon-color-hover);
  }
}

:host([no-padding]) {
  .content {
    padding: 0;
  }
}

.content {
  overflow: auto;
  background: var(--antd-dropdown-menu-bg);
  padding: 20px;
  margin-top: -1px;
  height: calc(100vh - 100px);
}
