:host,
.globe-video-container,
.orbit-label-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  height: 100%;
  color: #fff;
}

:host([hidden]) {
  display: none;
}

.container {
  width: 852px;
  height: 570px;
  position: relative;
  transform-origin: center;
  transform: scale(var(--scale));

  --scale: 1;
}

.base,
.ring,
.globe,
.globe-video-container,
.orbit-labels,
.satellite-ring {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.base {
  width: 852px;
  height: 570px;
  bottom: 0;
  background-image: url(./assets/base.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.globe {
  width: 288px;
  height: 288px;
  background-image: url(./assets/globe.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  top: 41px;
}

.globe-video-container {
  top: 65px;
  border-radius: 9999px;
  width: 240px;
  height: 240px;
  overflow: hidden;
  mix-blend-mode: screen;
}

.satellite-ring {
  top: 14px;
}

.center {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-label:empty,
.center-value:empty {
  display: none;
}

.center-label {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.85);
}

.center-value {
  font-family: HarmonyOSSans;
  font-weight: bold;
  font-size: 60px;
  line-height: 85px;
  color: #d9f3f6;
}

.orbit-labels {
  top: 0;
  width: 852px;
}

.orbit-label-container {
  position: absolute;
  width: 148px;
  height: 94px;
  background-image: url(./assets/label-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  backdrop-filter: blur(5px);
  text-align: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.orbit-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(200, 226, 255, 0.9);
}

.orbit-value {
  font-size: 26px;
  font-family: ALiBaBaPuHuiTi;
  line-height: 35px;
  text-shadow: 0px 4px 7px #514af7;
}
