:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.node {
  width: 168px;
  max-width: none;
  height: 130px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.node.board {
  height: 70px;
  max-width: 168px;
  width: fit-content;
  padding-bottom: 4px;
}

.label,
.label-input {
  width: 100%;
  height: 24px;
  padding: 3px;
  border: none;
  line-height: 18px;
  font-size: var(--sub-title-font-size-small);
  color: var(--color-header-text);
  font-weight: var(--font-weight-500);
  text-align: center;
  font-family: inherit;
  cursor: text;
  user-select: text;
}

.label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.node.editing-label .label {
  /* Set `height: 0` instead of hide the label, to let the input width fits the content */
  /* display: none; */
  height: 0;
}

.node:not(.editing-label) .label-input {
  display: none;
}

.add-button,
.icon-container,
.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-container {
  height: 98px;
  outline: 1px solid var(--palette-gray-4);
  opacity: 1;
  border: 4px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  color: var(--palette-gray-5);
  font-size: 36px;
  width: 100%;
  position: relative;
}

.icon-container {
  font-size: 20px;
  background-color: var(--palette-teal-6);
  color: var(--palette-gray-4);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline-offset: 4px;
}

:host([active]) .thumbnail-container,
:host([active]) .icon-container {
  outline: 2px solid var(--palette-blue-3);
}

:host(:not([active])) .node:hover .thumbnail-container,
:host(:not([active])) .node:hover .icon-container {
  outline: 1px solid var(--palette-blue-3);
}

.add-button {
  position: absolute;
  bottom: -26px;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background: var(--palette-gray-3);
  color: var(--palette-gray-6);
  border-radius: 50%;
  cursor: pointer;
}

:host(:not([active])) .add-button {
  display: none;
}

.add-button:hover {
  background: var(--palette-blue-5);
  color: var(--palette-gray-2);
}

.external {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--palette-purple-4);
  font-size: 12px;
  line-height: 20px;
  height: 22px;
  cursor: pointer;
  color: var(--palette-gray-1);
  border-radius: 9999px;
  right: 4px;
  max-width: fit-content;
}

.external-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.external:hover {
  background: var(--palette-purple-5);
}
