.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.normalWrapper {
  height: 164px;
}

.sampleWrapper {
  height: 90px;
}

.squareWrapper {
  height: 90px;
}

.svg {
  position: absolute;
}

.text-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  font-size: 42px;
  font-weight: normal;
  color: var(--palette-rgba-white-10);
}
.normalText {
  margin-top: 82px;
  letter-spacing: 15px;
}
.sampleText {
  letter-spacing: 10px;
  position: relative;
  background: linear-gradient(180deg, #ffffff 0%, #a1c5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--palette-rgba-white-10);
  background-clip: text;
}

.squareText {
  margin-top: 8px;
  letter-spacing: 9px;
  font-size: 36px;
}
