:host([hidden]) {
  display: none;
}

button {
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: var(--antd-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 44px;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
  background-color: var(--text-color-disabled);
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}
.switch-checked {
  background-color: var(--antd-switch-color);
}
.switch-handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease-in-out;
}
.switch-checked .switch-handle {
  left: calc(100% - 18px - 2px);
}

.switch-checked .switch-inner {
  margin: 0 25px 0 7px;
}

.switch-handle::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--antd-switch-bg);
  border-radius: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  transition: all 0.2s ease-in-out;
  content: "";
}

.switch-inner {
  display: flex;
  align-items: center;
  margin: 0 7px 0 25px;
  transition: margin 0.2s;
  color: #fff;
}

.switch-disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.small {
  min-width: 28px;
  height: 16px;
  line-height: 16px;
}

.small .switch-handle {
  width: 12px;
  height: 12px;
}
.small.switch-checked .switch-handle {
  left: calc(100% - 12px - 2px);
}
.small .switch-inner {
  margin: 0 7px 0 18px;
}
.small.switch-checked .switch-inner {
  margin: 0 18px 0 7px;
}
