:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  box-sizing: content-box !important;
}

:host[hidden] {
  display: none;
}

:host > icons\.antd-icon,
:host > icons\.easyops-icon,
:host > icons\.fa-icon {
  display: block;
}

:host([spinning]) {
  animation: spinning 1s infinite linear;
  transform-origin: 50% 50%;
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}
