:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

eo-icon {
  line-height: 0.25em;
}

.code-wrapper {
  position: relative;
}

.code-wrapper .prism-code {
  margin: 0;
  padding: 0 12px 0 0;
  font-size: 12px;
  line-height: 16px;
  overflow: auto;
  white-space: pre-wrap;
  border-radius: var(--medius-border-radius);
  min-height: calc(var(--min-lines) * 16px);
  max-height: calc(var(--max-lines) * 16px);
}

.no-line-numbers.prism-code {
  padding-left: 12px;
}

.no-line-numbers .line-number {
  display: none;
}

.token-line {
  display: flex;
  gap: 0.5em;
}

.line-number {
  flex-shrink: 0;
  display: inline-block;
  width: 3.8em;
  padding-right: 0.8em;
  text-align: right;
  color: #999;
  background: #3b3b3b;
  letter-spacing: -1px;
  pointer-events: none;
  user-select: none;
}

.tool-bar {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 10px;
  transition: all 0.3s;
  z-index: 1;
  opacity: 0;
}

.code-wrapper:hover .tool-bar {
  opacity: 1;
}

.copy-icon,
.export-icon {
  color: var(--color-white);
  cursor: pointer;
  font-size: 16px;
  opacity: 0.5;
}

.copy-icon:hover,
.export-icon:hover {
  opacity: 1;
}
