:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.layout-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: space-between;
  background: #050c27;
  position: absolute;
}

.contentWrapper {
  width: calc(100% - 30px);
  margin: 0 15px;
  flex: auto;
  background-image: url("../asset/images/mesh-layout-left.png"),
    url("../asset/images/mesh-layout-right.svg"),
    url("../asset/images/mesh-layout-bottom.svg"),
    url("../asset/images/mesh-layout-center.png");
  background-repeat: no-repeat;
  background-position: left center, right center, center bottom, bottom;
  background-size: contain, auto, auto, cover;
}
