:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.tree-item {
  min-height: 24px;
  display: flex;
  align-items: center;
  user-select: none;

  &:hover .tree-item-label {
    color: var(--palette-blue-4);
  }

  .tree-item-indentation {
    flex-shrink: 0;
  }

  .tree-item-content {
    min-width: 0;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 3px;

    .tree-item-expandable-content {
      min-width: 0;
      flex: 1;
      display: flex;
      align-items: center;
      cursor: pointer;

      .tree-item-expand-button {
        position: relative;
        width: 10px;
        flex-shrink: 0;
        margin-right: 4px;

        .tree-item-expand-arrow {
          width: 10px;
          height: 10px;
          position: absolute;
          left: 50%;
          right: 50%;
          transition: all var(--side-bar-collapse-transition-duration)
            var(--side-bar-collapse-transition-timing-function);
        }
      }

      .tree-item-label {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .tree-item-suffix {
      margin-left: 8px;
      flex-shrink: 0;
    }
  }
}

.tree-item-children {
  display: grid;
  grid-template-rows: 1fr;
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);

  .tree-item-inner {
    overflow: hidden;

    slot::slotted(*) {
      margin-top: 8px;
    }
  }
}

:host(:not([expanded])) {
  .tree-item-children {
    grid-template-rows: 0fr;
    opacity: 0;
  }
}

:host([expanded]) {
  .tree-item-expand-arrow {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

:host(:not([expanded])) {
  .tree-item-expand-arrow {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
