:host {
  --eo-card-border-color: none;
  --eo-card-box-shadow: none;
  --eo-card-header-border-bottom: 1px solid var(--card-border-color-split);
}

:host([outline="border"]) {
  --eo-card-border-color: 1px solid var(--color-text-divider-line);
}

:host([outline="shadow"]) {
  --eo-card-box-shadow: var(--connected-overlay-shadow);
}

:host([hide-split]) {
  --eo-card-header-border-bottom: none;
}

.card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--antd-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: var(--antd-card-background);
  border: var(--eo-card-border-color);
  border-radius: var(--eo-card-border-radius);
  box-shadow: var(--eo-card-box-shadow);
}

.card-head {
  margin-top: 1px;
  padding: var(--eo-card-head-padding);
  color: var(--antd-heading-color);
  font-weight: 500;
  font-size: 16px;
  border-bottom: var(--eo-card-header-border-bottom);
  line-height: 22px;
  box-sizing: border-box;
}

.card-head-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-icon {
  font-size: 20px;
}

.card-head-title {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-card-extra {
  float: right;
  margin-left: auto;
  padding: 12px 0;
  color: var(--antd-text-color);
  font-weight: normal;
  font-size: 14px;
}

.card-body {
  padding: var(--eo-card-body-padding);
}
.card-body::before {
  display: table;
  content: "";
}
.card-body::after {
  display: table;
  clear: both;
  content: "";
}
