.card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--antd-text-color);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  background: var(--antd-card-background);
}

.card-head {
  margin-bottom: -1px;
  padding: var(--card-head-padding);
  color: var(--antd-heading-color);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid var(--card-border-color-split);
  border-radius: 6px 6px 0 0;
}

.card-head-wrapper {
  display: flex;
  align-items: center;
}

.card-head-title {
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ant-card-extra {
  float: right;
  margin-left: auto;
  padding: 12px 0;
  color: var(--antd-text-color);
  font-weight: normal;
  font-size: 14px;
}

.card-body {
  padding: var(--card-body-padding);
}
.card-body::before {
  display: table;
  content: "";
}
.card-body::after {
  display: table;
  clear: both;
  content: "";
}
.card-footer {
  width: 100%;
  box-shadow: var(--card-footer-shadow);
  border-radius: 0 0 6px 6px;
  position: absolute;
  padding: var(--card-footer-padding);
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  background: var(--antd-card-footer-bg);
  z-index: 998;
}
