:root {
  --eo-card-border-radius: var(--card-default-border-radius);
  --eo-card-head-padding: var(--card-head-padding);
  --eo-card-body-padding: var(--card-body-padding);
}

eo-card[hide-split] {
  --eo-card-body-padding: 4px var(--card-body-padding-vertical)
    var(--card-body-padding-vertical);
}

html[data-ui="v8-2"] {
  --eo-card-border-radius: 0;

  eo-card[hide-split] {
    --eo-card-body-padding: 4px 0;
  }
  eo-card[outline="border"][hide-split],
  eo-card[outline="shadow"][hide-split],
  eo-card[outline="background"][hide-split] {
    --eo-card-body-padding: 4px var(--card-body-padding-vertical)
      var(--card-body-padding-vertical);
  }

  /* In UI v8.2, these outlined cards do have horizontal padding */
  eo-card[outline="border"],
  eo-card[outline="shadow"],
  eo-card[outline="background"] {
    --eo-card-head-padding: var(--card-head-padding-vertical)
      var(--card-head-padding-horizontal-base);
    --eo-card-body-padding: var(--card-body-padding-vertical)
      var(--card-body-padding-horizontal-base);
    --eo-card-border-radius: var(--card-default-border-radius);
  }
}
