:root {
  --eo-card-border-radius: 6px;
}

html[data-ui="v8-2"] {
  --eo-card-border-radius: 0;

  /* In UI v8.2, these outlined cards do have horizontal padding */
  &[outline="border"],
  &[outline="shadow"],
  &[outline="background"] {
    --eo-card-head-padding: var(--eo-card-head-padding-vertical)
      var(--eo-card-head-padding-horizontal-base);
    --eo-card-body-padding: var(--eo-card-body-padding-vertical)
      var(--eo-card-body-padding-horizontal-base);
    --eo-card-border-radius: 6px;
  }
}
