:host {
  display: flex;
}

:host([hidden]) {
  display: none;
}

.countText {
  width: 100px;
  margin-left: 9px;
  color: #8fabbf;
  font-size: 12px;
  word-break: break-all;
}

.barBgContent {
  position: absolute;
  background: rgba(83, 105, 128, 0.15);
  top: 8px;
  height: 6px;
}

.bigLoop {
  position: absolute;
  right: -7.5px;
  top: -8px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: scale 2s infinite;
}

.smallLoop {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  position: absolute;
  right: -1px;
  top: -1px;
}

.barContainer {
  position: absolute;
  min-width: 14px;
  top: 8px;
  animation: move 2s linear forwards;
  height: 6px;
}

.container {
  width: 100%;
  min-width: 300px;
}

.outermostContainer {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  min-height: 22px;
}

.titleText {
  width: 100px;
  text-align: end;
  color: #8fabbf;
  font-size: 12px;
  margin-right: 9px;
  word-break: break-all;
}
.innerBarContainer {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 22px;
  flex: 1 1 0;
}
@keyframes move {
  to {
    left: 0%;
  }
}

@keyframes scale {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}
