:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.pagination-wrapper {
  display: flex;
  gap: 20px;
}

.pagination-total-text {
  color: var(--antd-pagination-total-text);
}

.pagination-total-number {
  font-weight: var(--font-weight-400);
  color: var(--antd-pagination-total-strong-text);
}

.select-info {
  display: flex;
  gap: 10px;
}
