:host {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1156px;
}

:host([hidden]) {
  display: none;
}

:host([size="small"]) {
  max-width: 804px;
}

:host([size="large"]) {
  max-width: 1556px;
}

:host([size="full"]) {
  max-width: none;
}
