.desktopSlider {
  flex: 1;
  position: relative;
  padding-top: 110px;
  padding-bottom: 50px;
}

.filtered {
  .desktopList,
  .arrowLeft,
  .arrowRight,
  .desktopSelector {
    display: none;
  }
}

.scrollContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.desktopList {
  display: flex;
  height: 100%;
}

.filteredList {
  display: flex;
  height: 100%;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 110px;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  display: none;

  &.available {
    display: flex;
  }
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}

.arrowButton {
  width: 70px;
  height: 70px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e6e6;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  visibility: hidden;
}

.arrowLeft:hover .arrowButton,
.arrowRight:hover .arrowButton {
  visibility: visible;
}

.desktopSelector {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  padding: 36px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.desktopName {
  display: block;
  color: rgba(255, 255, 255, 0.65);
  border-radius: 6px;
  font-size: 12px;
  line-height: 38px;
  padding: 0 16px;
  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;
    background-color: rgba(18, 21, 26, 0.3);
  }
}

.selectorSeparator {
  display: block;
  margin: 0 8px;
  width: 1px;
  height: 16px;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
}

@media (max-height: 860px), (max-width: 1280px) {
  .arrowButton {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }

  .desktopSlider {
    padding-top: 98px;
  }

  .desktopSelector {
    padding: 30px 0;
    height: 98px;
  }
}

@media (max-height: 700px), (max-width: 1024px) {
  .arrowButton {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }

  .desktopSlider {
    padding-top: 86px;
  }

  .desktopSelector {
    padding: 24px 0;
    height: 86px;
  }
}

@media (max-height: 640px), (max-width: 900px) {
  .arrowButton {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .desktopSlider {
    padding-top: 74px;
  }

  .desktopSelector {
    padding: 18px 0;
    height: 74px;
  }
}
