* {
  box-sizing: border-box;
}

:host {
  display: block;
  position: relative;
  overflow: hidden;
}

:host,
.root {
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.root:focus {
  outline: none;
}

.decorator-area .area {
  fill: rgba(119, 141, 195, 0.1);
  stroke: none;
  stroke-width: 0;
}

.node,
.decorator-text {
  overflow: visible;
}

.cell.active .decorator-area .area,
.cell.active .line-active-bg {
  stroke: var(--palette-blue-5);
  stroke-dasharray: 4;
  stroke-width: 1;
}

.cell {
  user-select: none;
}

.resize-handle {
  cursor: nwse-resize;
  opacity: 0;
}

.resize-handle rect {
  fill: transparent;
  stroke: none;
}

.resize-handle path {
  fill: none;
  stroke: var(--palette-gray-5);
  stroke-width: 1.5;
}

.cell.active .decorator-area .resize-handle,
.decorator-area:hover .resize-handle {
  opacity: 1;
}

.connect-line:not(.connecting) {
  display: none;
}

.line.dashed {
  stroke-dasharray: 4;
}

.cell.active .decorator-text .text-container {
  outline: 1px dashed var(--palette-blue-5);
}

.decorator-text .text-container {
  width: max-content;
  padding: 0.5em;
}

.decorator-text .text:focus {
  outline: none;
}
