:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.mask,
.container {
  display: none;
  position: fixed;
  z-index: 1;
}

.mask {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

:host([active]) .mask,
:host([active]) .container {
  display: block;
}

.container {
  background: var(--antd-dropdown-menu-bg);
  border-radius: var(--medius-border-radius);
  padding: 5px;

  .title {
    padding: 5px 12px;
    cursor: default;
    color: var(--color-secondary-text);
    border-bottom: 1px solid var(--color-text-divider-line);
  }

  eo-menu {
    border: none;
    padding: 5px 0;

    eo-menu-item:not([disabled]):hover::part(menu-item) {
      background-color: var(--left-sidebar-item-hover-bg);
    }

    eo-menu-item[disabled]::part(menu-item) {
      cursor: not-allowed;
    }

    eo-menu-item::part(menu-item) {
      cursor: grab;
      padding: 5px 12px;
      border-radius: var(--medius-border-radius);
      min-width: max-content;
    }

    eo-menu-item.dragging {
      opacity: 0.5;
    }

    eo-tooltip {
      display: block;
    }
  }
}
