:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 32px 72px;
}

* {
  box-sizing: border-box;
}

:host([hidden]) {
  display: none;
}

.image,
.success {
  margin-bottom: 24px;
}

.image img {
  max-width: 250px;
}

.heading {
  font-size: 24px;
  line-height: 1.8;
  font-weight: var(--font-weight-500);
  color: var(--color-header-text);
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-secondary-text);
}

.status {
  font-size: 72px;
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}

.warning {
  color: var(--color-warning);
}

.info {
  color: var(--color-info);
}
