:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

button {
  border-radius: 3px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 4px 15px;
  height: 32px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

eo-link {
  padding: 4px 15px;
  display: inline-block;
}

button:disabled {
  cursor: not-allowed;
  border-radius: 4px;
  color: var(--antd-btn-special-icon-type-disabled-color);
  background: var(--antd-btn-special-icon-type-disabled-bg);
  border: 1px solid var(--antd-btn-default-border);
  box-shadow: none;
}

.icon {
  line-height: 1em;
}

.round {
  border-radius: 32px;
}

.circle {
  padding: 4px 8px;
  border-radius: 50%;
  min-width: 32px;
}

/* type */
.primary {
  background: var(--antd-btn-primary-bg);
  color: var(--antd-btn-primary-color);
}

.default {
  color: var(--antd-btn-default-color);
  background: var(--antd-btn-default-bg);
  border: 1px solid var(--antd-btn-default-border);
}

.dashed {
  color: var(--antd-btn-default-color);
  background: var(--antd-btn-default-bg);
  border: 1px dashed var(--antd-btn-default-border);
}

.ghost {
  color: var(--antd-btn-default-color);
  background: transparent;
  border: 1px solid var(--antd-btn-default-border);
}

.text {
  color: var(--antd-btn-fade-text-color);
}

.primary.danger {
  background: var(--antd-btn-danger-bg-image);
  color: var(--antd-btn-danger-color);
}

button:not(.primary, :disabled, .text).danger {
  background: var(--antd-btn-default-bg);
  border-color: var(--antd-btn-default-border);
  color: var(--antd-btn-danger-bg-image);
}

button.text {
  background: none;
  border: none;
}

button:disabled.text {
  background-color: none;
  border: none;
  color: var(--antd-btn-special-icon-type-disabled-color);
}

/* type hover */
.primary:hover {
  color: var(--antd-btn-primary-hover-color);
  background: var(--antd-btn-primary-hover-bg);
}

.default:hover,
.dashed:hover,
.ghost:hover {
  border-color: var(--antd-btn-default-hover-border-border);
  color: var(--antd-btn-default-hover-color);
}

.text:hover {
  color: var(--antd-btn-text-hover-color);
}

.text:disabled:hover {
  color: var(--antd-btn-special-icon-type-disabled-color);
}

.primary.danger:hover {
  background: var(--antd-btn-danger-hover-bg);
}

button:not(.primary, :disabled).danger:hover {
  border-color: var(--antd-btn-danger-hover-bg);
  color: var(--antd-btn-danger-hover-bg);
}

/* type active */
.primary:active {
  color: var(--antd-btn-primary-active-color);
  background: var(--antd-btn-primary-active-bg);
}

.default:active {
  border-color: var(--antd-btn-default-active-border-color);
  color: var(--antd-btn-default-active-color);
  box-shadow: 0px 0px 0px 3px var(--antd-btn-default-active-color);
}

.dashed:active,
.ghost:active {
  border-color: var(--antd-btn-default-active-border-color);
  color: var(--antd-btn-default-active-color);
}

.text:active {
  background: rgba(0, 0, 0, 0.15);
  color: var(--antd-btn-text-active-color);
}

button.text:active {
  background: none;
}

button.text:disabled:active {
  color: var(--antd-btn-special-icon-type-disabled-color);
  background: none;
}

.primary.danger:active {
  background: var(--antd-btn-danger-active-bg);
}

button:not(.primary, :disabled).danger:active {
  border-color: var(--antd-btn-danger-active-bg);
  color: var(--antd-btn-danger-active-bg);
  box-shadow: 0px 0px 0px 3px rgba(242, 76, 37, 0.3);
}

button:disabled.danger:active {
  box-shadow: none;
}

button.text.danger:active {
  background-color: none;
  border-color: none;
  box-shadow: none;
}

/* size */
.xs {
  height: 22px;
  font-size: 11px;
}

.small {
  height: 26px;
  font-size: 13px;
  line-height: 18px;
}

.medium {
  line-height: 22px;
}

.large {
  height: 40px;
  font-size: 18px;
}

.xs.round {
  border-radius: 22px;
}

.small.round {
  border-radius: 26px;
}

.large.round {
  border-radius: 40px;
}
