:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

button {
  border-radius: 3px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  pointer-events: none;
  box-shadow: none;
  text-shadow: none;
}

button:active {
  box-shadow: none;
  outline: 0;
}

.round {
  border-radius: 32px;
}

.circle {
  padding: 4px 8px;
  border-radius: 50%;
}

/* primary */
.primary {
  color: var(--antd-btn-primary-color);
  background: var(--antd-btn-primary-bg);
  border: 1px solid var(--antd-btn-primary-bg);
}

.primary:hover {
  color: var(--antd-btn-primary-hover-color);
  background: var(--antd-btn-primary-hover-bg);
  border-color: var(--antd-btn-primary-hover-bg);
}

.primary:active {
  color: var(--antd-btn-primary-active-color);
  background: var(--antd-btn-primary-active-bg);
  border-color: var(--antd-btn-primary-active-bg);
}

.primary.danger {
  color: var(--antd-btn-danger-color);
  background: var(--antd-btn-danger-bg-image);
  border-color: var(--antd-btn-danger-bg-image);
}

.primary.danger:hover {
  color: var(--antd-btn-danger-hover-color);
  background: var(--antd-btn-danger-hover-bg);
  border-color: var(--antd-btn-danger-hover-bg);
}

.primary.danger:active {
  color: var(--antd-btn-danger-active-color);
  background: var(--antd-btn-danger-active-bg);
  border-color: var(--antd-btn-danger-active-bg);
}

.primary[disabled],
.primary[disabled]:hover,
.primary[disabled]:active {
  color: var(--text-color-disabled) !important;
  background: var(--antd-background-color-base) !important;
  border-color: var(--antd-border-color-base) !important;
}

/* default */
.default {
  color: var(--antd-btn-default-color);
  background: var(--antd-btn-default-bg);
  border: 1px solid var(--antd-btn-default-border);
}

.default:hover {
  color: var(--antd-btn-default-hover-color);
  border-color: var(--antd-btn-default-hover-border-border);
}

.default:active {
  color: var(--antd-btn-default-active-color);
  border-color: var(--antd-btn-default-active-border-color);
}

.default.danger {
  color: var(--antd-btn-danger-bg-image);
  border-color: var(--antd-btn-danger-bg-image);
  background: var(--antd-btn-default-bg);
}

.default.danger:hover {
  color: var(--antd-btn-danger-hover-bg);
  border-color: var(--antd-btn-danger-hover-bg);
}

.default.danger:active {
  color: var(--antd-btn-danger-active-bg);
  border-color: var(--antd-btn-danger-active-bg);
}

.default[disabled],
.default[disabled]:hover,
.default[disabled]:active {
  color: var(--text-color-disabled) !important;
  background: var(--antd-background-color-base) !important;
  border-color: var(--antd-border-color-base) !important;
}

/* dashed */
.dashed {
  color: var(--antd-btn-default-color);
  background: var(--antd-btn-default-bg);
  border: 1px dashed var(--antd-btn-default-border);
}

.dashed:hover {
  color: var(--antd-btn-default-hover-color);
  border-color: var(--antd-btn-default-hover-border-border);
}

.dashed:active {
  color: var(--antd-btn-default-active-color);
  border-color: var(--antd-btn-default-active-border-color);
}

.dashed.danger {
  color: var(--antd-btn-danger-bg-image);
  border-color: var(--antd-btn-danger-bg-image);
  background: var(--antd-btn-default-bg);
}

.dashed.danger:hover {
  color: var(--antd-btn-danger-hover-bg);
  border-color: var(--antd-btn-danger-hover-bg);
  background: var(--antd-btn-danger-hover-color);
}

.dashed.danger:active {
  color: var(--antd-btn-danger-active-bg);
  border-color: var(--antd-btn-danger-active-bg);
  background: var(--antd-btn-danger-active-color);
}

.dashed[disabled],
.dashed[disabled]:hover,
.dashed[disabled]:active {
  color: var(--text-color-disabled) !important;
  background: var(--antd-background-color-base) !important;
  border-color: var(--antd-border-color-base) !important;
}

/* text */
.text {
  color: var(--antd-btn-default-color);
}

.text:hover {
  color: var(--antd-btn-text-hover-color);
}

.text:active {
  color: var(--antd-btn-text-active-color);
}

.text.danger {
  color: var(--antd-error-color);
}

.text.danger:hover {
  color: var(--antd-btn-danger-hover-bg);
}

.text.danger:active {
  color: var(--antd-btn-danger-active-bg);
}

.text[disabled],
.text[disabled]:hover,
.text[disabled]:active {
  color: var(--text-color-disabled) !important;
}

/* link */
.link {
  color: var(--antd-btn-link-color);
}

.link:hover {
  color: var(--antd-btn-link-hover-color);
}

.link:active {
  color: var(--antd-btn-link-active-color);
}

.link.danger {
  color: var(--antd-error-color);
}

.link.danger:hover {
  color: var(--antd-btn-danger-hover-bg);
}

.link.danger:active {
  color: var(--antd-btn-danger-active-bg);
}

.link[disabled],
.link[disabled]:hover,
.link[disabled]:active {
  color: var(--text-color-disabled) !important;
}

/* ghost */
.ghost {
  color: var(--antd-btn-default-color);
  background: transparent;
  border: 1px solid var(--antd-border-color-base);
}

.ghost:hover {
  color: var(--antd-btn-default-hover-color);
  border-color: var(--antd-btn-default-hover-border-color);
}

.ghost:active {
  color: var(--antd-btn-default-active-color);
  border-color: var(--antd-btn-default-active-border-color);
}

.ghost.danger {
  color: var(--antd-btn-danger-bg-image);
  border-color: var(--antd-btn-danger-bg-image);
}

.ghost.danger:hover {
  color: var(--antd-btn-danger-hover-bg);
  border-color: var(--antd-btn-danger-hover-bg);
}

.ghost.danger:active {
  color: var(--antd-btn-danger-active-bg);
  border-color: var(--antd-btn-danger-active-bg);
}

.ghost[disabled],
.ghost[disabled]:hover,
.ghost[disabled]:active {
  color: var(--text-color-disabled) !important;
  border-color: var(--antd-border-color-base) !important;
}

.icon {
  background: #f5f5f5;
  border: 1px solid transparent;
}

.icon:hover {
  background-color: #f0f6ff;
  color: var(--antd-btn-default-hover-color);
}

.icon:active {
  background-color: #f0f6ff;
  color: var(--antd-btn-default-active-color);
}
.icon.large {
  width: 40px;
}
.icon.medium {
  width: 30px;
}
.icon.small {
  width: 26px;
}
.icon.xs {
  width: 20px;
}

.icon[disabled],
.icon[disabled]:hover,
.icon[disabled]:active {
  color: var(--text-color-disabled) !important;
  outline: 1px solid;
}
/* size */
.xs {
  font-size: 10px;
  height: 20px;
}

.small {
  font-size: 12px;
  height: 26px;
}

.medium {
  height: 30px;
}

.large {
  font-size: 18px;
  height: 40px;
}

.xs.round {
  border-radius: 22px;
}

.small.round {
  border-radius: 26px;
}

.large.round {
  border-radius: 40px;
}

:host([has-slot]) button > eo-icon {
  margin-right: 8px;
}

button {
  padding: 4px 7px;
}

:host([has-slot]) button {
  padding: 4px 16px;
}

:host([has-slot]):host([shape="circle"]) button {
  padding: 4px 10px;
}

:host([has-slot]):host([size="small"]) button {
  padding: 4px 14px;
}

:host([has-slot]):host([size="xs"]) button {
  padding: 4px 12px;
}
