:host {
  display: inline-block;
}
:host([hidden]) {
  display: none;
}

.tag {
  display: inline-block;
  box-sizing: border-box;
  color: var(--antd-text-color);
  list-style: none;
  height: auto;
  font-size: 12px;
  line-height: 20px;
  border-radius: var(--small-border-radius);
  white-space: nowrap;
  background: var(--antd-background-color-light);
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.tag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
}

.tag:not([class*="color-"]) {
  background: var(--antd-tag-closable-bg);
  color: var(--antd-tag-closable-color);
}

.tag.checkable {
  cursor: pointer;
  background-color: var(--antd-tag-checkable-bg);
  color: var(--antd-tag-checkable-color);
}

.tag:not([class*="disabled"]).closable:hover {
  background: var(--color-text-divider-line);
  .close-icon {
    color: var(--color-normal-text);
  }
}

.tag.checkable:not(.checked, .disabled):hover {
  color: var(--antd-tag-checkable-checked-bg);
}

.tag.checkable.checked {
  background-color: var(--antd-tag-checkable-checked-bg);
  color: var(--antd-tag-checkable-checked-color);
}

.tag.checkable.checked:not(.disabled):hover {
  opacity: 0.8;
}

.tag.disabled {
  cursor: not-allowed;
  color: var(--antd-tag-closable-disabled-color);
  background: var(--antd-tag-closable-disabled-bg);
}

/* Size */
.tag.small {
  font-size: 12px;
  line-height: 14px;
  height: 18px;
  padding: 0px 8px;
}

.tag.medium {
  font-size: 14px;
  height: 24px;
  padding: 0px 8px;
}

.tag.large {
  font-size: 16px;
  line-height: 28px;
  height: 30px;
  padding: 0px 16px;
}
/* Size */

/* Color */
.color-blue {
  color: var(--tag-blue-color);
  background-color: var(--tag-blue-background);
  border-color: var(--tag-blue-border-color);
}

.color-blue-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-blue-inverse-color);
}

.color-cyan {
  color: var(--tag-cyan-color);
  background-color: var(--tag-cyan-background);
  border-color: var(--tag-blue-cyan-color);
}

.color-cyan-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-cyan-inverse-color);
}

.color-geekblue {
  color: var(--tag-geekblue-color);
  background-color: var(--tag-geekblue-background);
  border-color: var(--tag-geekblue-border-color);
}

.color-geekblue-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-geekblue-inverse-color);
}

.color-grayblue {
  color: var(--tag-grayblue-color);
  background: var(--tag-grayblue-background);
}

.color-grayblue-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-grayblue-color);
}

.color-gray {
  color: var(--tag-gray-color);
  background-color: var(--tag-gray-background);
  border-color: var(--tag-gray-border-color);
}

.color-gray-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-gray-inverse-color);
}

.color-green {
  color: var(--tag-green-color);
  background-color: var(--tag-green-background);
  border-color: var(--tag-green-border-color);
}

.color-green-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-green-inverse-color);
}

.color-orange {
  color: var(--tag-orange-color);
  background-color: var(--tag-orange-background);
  border-color: var(--tag-orange-border-color);
}

.color-orange-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-orange-inverse-color);
}

.color-purple {
  color: var(--tag-purple-color);
  background-color: var(--tag-purple-background);
  border-color: var(--tag-purple-border-color);
}

.color-purple-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-purple-inverse-color);
}

.color-red {
  color: var(--tag-red-color);
  background-color: var(--tag-red-background);
  border-color: var(--tag-red-border-color);
}

.color-red-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-red-inverse-color);
}

.color-yellow {
  color: var(--tag-yellow-color);
  background-color: var(--tag-yellow-background);
  border-color: var(--tag-yellow-border-color);
}

.color-yellow-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-yellow-inverse-color);
}

.color-teal {
  color: var(--tag-teal-color);
  background-color: var(--tag-teal-background);
  border-color: var(--tag-teal-border-color);
}

.color-teal-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-teal-inverse-color);
}

.color-pink {
  color: var(--tag-pink-color);
  background-color: var(--tag-pink-background);
  border-color: var(--tag-pink-border-color);
}

.color-pink-inverse {
  color: var(--tag-inverse-text-color);
  background: var(--tag-pink-inverse-color);
}
/* Color */

.tag-icon {
  line-height: 1em;
  font-size: 12px;
}

.custom-icon {
  margin-right: 4px;
}

.close-icon {
  font-size: 10px;
  margin-left: 4px;
  cursor: pointer;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host([outline]) .tag {
  outline-offset: -1px;
  outline-width: 1px;
  outline-style: solid;
}

:host([outline]) .color-blue {
  outline-color: rgba(var(--palette-blue-6-channel), 0.5);
}

:host([outline]) .color-cyan {
  outline-color: rgba(var(--palette-cyan-6-channel), 0.5);
}

:host([outline]) .color-geekblue {
  outline-color: rgba(var(--palette-indigo-6-channel), 0.5);
}

:host([outline]) .color-grayblue {
  outline-color: rgba(var(--palette-gray-blue-6-channel), 0.5);
}

:host([outline]) .color-gray {
  outline-color: rgba(var(--palette-gray-6-channel), 0.5);
}

:host([outline]) .color-green {
  outline-color: rgba(var(--palette-green-6-channel), 0.5);
}

:host([outline]) .color-orange {
  outline-color: rgba(var(--palette-orange-6-channel), 0.5);
}

:host([outline]) .color-purple {
  outline-color: rgba(var(--palette-purple-6-channel), 0.5);
}

:host([outline]) .color-red {
  outline-color: rgba(var(--palette-red-6-channel), 0.5);
}

:host([outline]) .color-yellow {
  outline-color: rgba(var(--palette-yellow-6-channel), 0.5);
}

:host([outline]) .color-teal {
  outline-color: rgba(var(--palette-teal-6-channel), 0.5);
}

:host([outline]) .color-pink {
  outline-color: rgba(var(--palette-pink-6-channel), 0.5);
}
