:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.spin-wrapper {
  position: relative;
  height: 100%;
}

/* spin-mask */
.spin-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spin-container {
  height: 100%;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s;
  overflow: hidden;
}

.spin-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  transition: opacity 0.3s;
}

:host(:not([spinning])) .spin-container {
  opacity: 1;
}

:host(:not([spinning])) .spin-container::after {
  display: none;
  opacity: 0;
}

/* spin-dot */
:host([size="small"]) {
  --spin-dot-size: 16px;
  --spin-dot-item-size: 4px;
}

:host([size="default"]) {
  --spin-dot-size: 20px;
  --spin-dot-item-size: 5px;
}

:host([size="large"]) {
  --spin-dot-size: 29px;
  --spin-dot-item-size: 7.2px;
}

.spin-dot {
  position: relative;
  width: var(--spin-dot-size);
  height: var(--spin-dot-size);
  animation: spin-dot-rotate 1.2s linear infinite;
}

.spin-dot-item {
  position: absolute;
  left: 50%;
  width: var(--spin-dot-item-size);
  height: var(--spin-dot-item-size);
  border-radius: 50%;
  background: var(--theme-doderblue-color);
  transform-origin: calc(var(--spin-dot-item-size) / 2)
    calc(var(--spin-dot-size) / 2);
  transform: translateX(-50%) rotate(var(--spin-dot-item-rotate));
}

.spin-dot-item:nth-child(1) {
  --spin-dot-item-rotate: 0deg;
  opacity: 1;
}

.spin-dot-item:nth-child(2) {
  --spin-dot-item-rotate: 72deg;
  opacity: 0.1;
}

.spin-dot-item:nth-child(3) {
  --spin-dot-item-rotate: 144deg;
  opacity: 0.3;
}

.spin-dot-item:nth-child(4) {
  --spin-dot-item-rotate: 216deg;
  opacity: 0.6;
}

.spin-dot-item:nth-child(5) {
  --spin-dot-item-rotate: 288deg;
  opacity: 0.8;
}

@keyframes spin-dot-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.spin-tip {
  font-size: 14px;
  color: var(--theme-doderblue-color);
  line-height: 20px;
}
