:host {
  display: block;
  transition: width var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.sidebar-menu-item-list slot::slotted(*) {
  margin-top: 6px;
}
