:host {
  display: inline-block;
  width: 100%;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.image {
  width: 100%;
  border: 2px solid transparent;
}

.node-title {
  width: 100%;
  text-align: center;
  font-size: var(--normal-font-size);
  font-weight: var(--font-weight-400);
  color: var(--color-normal-text);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.type-container-group:hover .image,
.type-container-group.status-active .image {
  box-shadow: inset 0 0 16px 0 #ff9900;
  border-color: #ff9900;
}

.type-physical-machine:hover .image,
.type-virtual-machine:hover .image,
.type-physical-machine.status-active .image,
.type-virtual-machine.status-active .image {
  box-shadow: inset 0 0 16px 0 #50ffff;
  border-color: #50ffff;
}

.status-faded {
  opacity: 0.4;
}
