:host {
  display: inline-block;
  --card-padding: 0;
  --card-border: none;
  --card-border-radius: 0;
  --card-background: none;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host([size="large"]) {
  --card-padding: 20px 24px;
  --icon-container-size: 54px;
  --icon-size: 22px;
  --card-content-gap: 16px;
  --card-title-font-size: 14px;
  --card-title-line-height: 20px;
  --value-font-size: 28px;
  --value-line-height: 40px;
  --unit-font-size: 18px;
}

:host([size="medium"]) {
  --card-padding: 16px;
  --icon-container-size: 48px;
  --icon-size: 20px;
  --card-content-gap: 16px;
  --card-title-font-size: 14px;
  --card-title-line-height: 20px;
  --value-font-size: 24px;
  --value-line-height: 34px;
  --unit-font-size: 16px;
}

:host([size="small"]) {
  --card-padding: 12px;
  --icon-container-size: 42px;
  --icon-size: 18px;
  --card-content-gap: 12px;
  --card-title-font-size: 12px;
  --card-title-line-height: 18px;
  --value-font-size: 18px;
  --value-line-height: 28px;
  --unit-font-size: 12px;
}

:host([outline="border"]) {
  --card-border: 1px solid var(--color-text-divider-line);
  --card-hovered-border: 1px solid transparent;
  --card-hovered-box-shadow: var(--connected-overlay-shadow);
  --card-background: var(--antd-card-background);
  --card-border-radius: 6px;
}

:host([outline="background"]) {
  --card-hovered-border: none;
  --card-hovered-box-shadow: var(--connected-overlay-shadow);
  --card-background: var(--antd-card-background);
  --card-border-radius: 6px;
}

:host([outline="none"]) {
  --card-padding: 0;
}

.card {
  position: relative;
  height: 100%;
  padding: var(--card-padding);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  background: var(--card-background);
}

.operator {
  position: absolute;
  top: 6px;
  right: 8px;
}

.basic-container {
  display: flex;
  align-items: center;
  gap: var(--card-content-gap);
}

.icon-container {
  flex-shrink: 0;
  width: var(--icon-container-size);
  height: var(--icon-container-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  font-size: var(--icon-size);
}

.basic-info {
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--card-title-font-size);
  line-height: var(--card-title-line-height);
  color: var(--text-color-default);
}

.value-container {
  display: flex;
  align-items: baseline;
}

.value {
  font-size: var(--value-font-size);
  line-height: var(--value-line-height);
  color: var(--text-color-title);
  font-weight: var(--font-weight-500);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.unit {
  margin-left: 5px;
  font-size: var(--unit-font-size);
  color: var(--text-color-title);
  font-weight: var(--font-weight-500);
}

slot[name="description"] {
  font-size: 12px;
  color: var(--text-color-secondary);
  line-height: 17px;
}

:host([description-position="bottom"]) slot[name="description"]::slotted(*) {
  margin-top: 5px;
}

:host([description-position="right"]) slot[name="description"]::slotted(*) {
  display: inline-block;
  margin-left: 5px;
}

slot[name="extraContent"]::slotted(*) {
  margin-top: 10px;
}

:host([interactable]) .card {
  cursor: pointer;
}

:host([interactable][outline="border"]) .card:hover,
:host([interactable][outline="background"]) .card:hover {
  border: var(--card-hovered-border);
  box-shadow: var(--card-hovered-box-shadow);
}

:host([interactable][outline="none"]) .card:hover .card-title,
:host([interactable][outline="none"]) .card:hover .value,
:host([interactable][outline="none"]) .card:hover .unit {
  color: var(--color-brand);
}
