:host {
  display: block;
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.mask-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c1216;
  z-index: 1000;
}

.appwall {
  position: relative;
}

.appwall.loading .card-item {
  pointer-events: none !important;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mask[hidden] {
  display: none;
}
.infoWrapper {
  position: absolute;
  background: var(--color-fill-bg-base-4);
  box-shadow: 0 0 12px 2px rgba(80, 255, 255, 0.45), inset 0 0 22px 0 #20242A;
  border: 2px solid #50FFFF;
  overflow: hidden;
}

.warningWrapper {
  position: absolute;
  background: linear-gradient(180deg, #CC0066 0%, rgba(204, 0, 102, 0.2) 100%);
  box-shadow: 0 0 12px 2px rgba(204, 0, 102, 0.4), inset 0 4px 10px 0 rgba(255, 255, 255, 0.65);
  overflow: hidden;
}
.relation-line {
  pointer-events: none !important;
}

.closeBtn {
  visibility: hidden;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 46px;
  height: 46px;
  text-align: center;
  border: 1px solid;
  color: rgb(138 189 255 / 84%);
  font-size: 20px;
  line-height: 46px;
  cursor: pointer;
  background: rgba(138, 189, 255, 0.13);
  border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.33)) 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.closeBtn:before,
.closeBtn:after {
  content: "";
  width: 2px;
  height: 20px;
  background: linear-gradient(180deg, #3467FF 0%, #98CBFF 100%);
  position: absolute;

}

.closeBtn:before {
  transform: rotateZ(45deg);

}

.closeBtn:after {
  transform: rotateZ(-45deg);
}

.closeBtn:hover:after,
.closeBtn:hover:before {
  background: var(--color-normal-text);
}

.visibilityAnimate {
  visibility: hidden;
  animation: visibility 0.5s both 1s;
}

.trapezoidalLeftOrRightAnimation,
.trapezoidalTopOrBottomAnimation {
  background: linear-gradient(180deg, rgba(51, 102, 255, 0.4) 0%, #99CCFF 100%);
  opacity: 0.2;
  position: absolute;
}

.trapezoidalTopOrBottomAnimation {
  bottom: 0;
  width: 100%;
  left: 0;
  animation: animateTop 1s both;
}

.trapezoidalLeftOrRightAnimation {
  top: 0;
  right: 0;
  height: 100%;
  animation: animateLeft 1s both;
}

@keyframes animateTop {
  0% {
    height: 0;

  }

  100% {
    height: 100%;
  }

}

@keyframes animateLeft {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}

@keyframes visibility {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }

}

.status-normal-card {
  box-shadow: 0 0 100px rgba(80, 255, 255, 0.58);
  border: 1px solid rgba(80, 255, 255, 0.58);
  background:-webkit-gradient(liner,left top,left bottom, from(#002c8d),to(#00123e));
  background: linear-gradient(to bottom,rgba(80, 255, 255, 1) 0%,rgba(80, 255, 255, 0) 100%);
}
.status-warning-card {
  box-shadow: 0 0 100px #CC0066;
  background:-webkit-gradient(liner,left top,left bottom, from(#CC0066),to(rgba(204, 0, 102, 0.2)));
  background: linear-gradient(to bottom,#CC0066 0%,rgba(204, 0, 102, 0.2) 100%);
}
