:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.menu-container {
  box-sizing: border-box;
  background: var(--third-menu-default-bg);
  border: 1px solid var(--stroke-color-default);
  border-width: 0 1px 0 0;
  border-radius: 0px;
  padding: 20px 0px;
  height: 100%;

  .header {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--title-font-size);
    padding: 0 24px 16px 24px;
    line-height: 26px;
    color: var(--color-header-text);

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
    }
  }
  .content {
    padding: 0 12px;
  }

  .menu-item,
  .menu-sub-item::part(sub-menu-item-title) {
    margin: 0;
    padding-right: 16px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    margin-bottom: 4px;
  }

  .menu-item::part(menu-item-icon),
  .menu-sub-item::part(menu-item-icon) {
    color: var(--color-secondary-text);
  }

  .menu-item-link {
    width: 100%;
    color: var(--color-secondary-text);
  }

  .menu-item-text,
  .menu-group-text,
  .menu-item-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .menu-item-text {
    display: block;
    box-sizing: border-box;
    color: var(--antd-text-color);
  }

  .menu-item:hover {
    background: var(--third-menu-item-hover-bg);
    color: var(--color-header-text);

    .menu-item-text {
      color: var(--color-header-text);
      font-weight: var(--font-weight-400);
    }
  }

  .menu-sub-item::part(sub-menu-item-title):hover {
    color: var(--color-header-text);
  }

  .menu-item-text.item-has-icon {
    margin-left: 6px;
  }

  .menu-item[active] {
    color: var(--color-brand);
    background-color: var(--third-menu-item-selected-bg);
  }

  .menu-item[active] .menu-item-text {
    color: var(--color-brand);
    font-weight: var(--font-weight-500);
  }
}
