:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

:host([hidden]) {
  display: none;
}

.container {
  width: 928px;
  height: 534px;
  position: relative;
  transform-origin: center;
  transform: scale(var(--scale));

  --scale: 1;
}

.base,
.globe,
.satellite-ring,
.ring,
.ring-labels {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.base {
  width: 1312px;
  height: 575px;
  bottom: 0;
  background-image: url(./assets/base.png);
  background-repeat: no-repeat;
  background-position: center bottom -173px;
  background-size: 100%;
}

.globe {
  width: 272px;
  height: 272px;
  background-image: url(./assets/globe.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  bottom: 228px;
}

.satellite-ring,
.ring {
  top: 0;
}

.particles {
  mix-blend-mode: screen;
  position: absolute;
  bottom: 204px;
  left: 50%;
  transform: translate(-50%, 0);
}

.ring-labels {
  top: 0;
  width: 928px;
}

.ring-label-container {
  position: absolute;
  padding: 0 35px;
  margin-top: -14px;
  width: max-content;
}

.ring-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url(../crystal-ball-indicator/assets/green-dot.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  top: -4px;
}

.odd {
  transform: translate(-100%, 0);
  text-align: right;
}

.odd .ring-icon {
  right: -18px;
}

.even .ring-icon {
  left: -18px;
}

.ring-label {
  color: rgba(200, 226, 255, 0.8);
  font-size: 18px;
}

.ring-value {
  font-family: ALiBaBaPuHuiTi;
  font-size: 28px;
  text-shadow: 0px 4px 7px #514af7;
}

.center {
  position: absolute;
  top: 120px;
  width: 100%;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-label:empty,
.center-value:empty {
  display: none;
}

.center-label {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.center-value {
  font-family: ALiBaBaPuHuiTi;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
}

.corner {
  position: absolute;
  top: 13px;
  left: 31px;
  font-size: 18px;
}

.corner-item {
  display: flex;
  margin-bottom: 15px;
}

.corner-label {
  font-weight: 500;
  line-height: 25px;
}

.corner-value {
  display: block;
  margin-left: 19px;
}
