.cellWrapper {
  display: flex;
  align-items: center;
  position: relative;
  transform-origin: 0 0;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    .closeIcon {
      display: block;
    }
  }

  &.disabled {
    color: #d8d8d8;
    opacity: 0.5;
    cursor: no-drop;
    .appLink,
    .name {
      cursor: no-drop;
    }
  }

  &.disabled:hover {
    background: none;
    border-radius: 0;
    .closeIcon {
      display: none;
    }
  }
}

.cellItem {
  height: 144px;
  padding: 10px;
  min-width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.appLink {
  display: flex;
  width: 46px;
  height: 46px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  &.circle,
  &.square {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.circle {
    border-radius: 40px;
  }

  &.square {
    border-radius: 10px;
  }

  &.installing {
    opacity: 0.5;
  }
}

.addIcon {
  position: absolute;

  font-size: 25px;
  color: white;
}

.circleIcon {
  right: -6px;
  bottom: 5px;
}

.squareIcon {
  right: -6px;
  bottom: 5px;
}

.appLink:hover {
  color: #fff;
}

.appIcon {
  width: 95%;
}

.appName {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  height: 24px;
  text-align: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  flex: 1;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: white;
}

.closeIcon {
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -3px;
  color: rgba(255, 255, 255, 0.7);
  display: none;
}

@media (max-height: 860px), (max-width: 1280px) {
  .cellWrapper {
    transform: scale(0.8);
  }
}

@media (max-height: 700px), (max-width: 1024px) {
  .cellWrapper {
    transform: scale(0.7);
  }
}
