:host {
  display: inline-block;
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-item-container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.3s, height 0.3s;
}

.card-item-container::before {
  content: "";
  position: absolute;
  left: calc((188% - 100%) / -2);
  top: calc((214% - 100%) / -2);
  width: 188%;
  height: 214%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-item-container:hover::before {
  opacity: 1;
}

.card-item {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--no-border-radius);
  border-color: transparent;
  transition: border-color 0.5s;
  /* Todo: 中间部分才能看到 这个带颜色的border */
  border22: 1px solid;
  border-image22: radial-gradient(circle, rgba(50, 130, 253, 0.5), rgba(50, 130, 253, 0)) 1 1;
}

.card-item-container.status-normal .card-item {
  background: var(--color-fill-bg-base-4);
  box-shadow: inset 0px 1px 2px 0px rgba(255, 255, 255, 0.45);
}

.card-item-container.status-normal::before {
  background: radial-gradient(ellipse 50% 50%, rgba(80, 255, 255, 1) 0%, rgba(80, 255, 255, 0) 100%);
  filter: blur(19px);
}

.card-item-container.status-normal:hover .card-item {
  border: 2px solid rgba(80, 255, 255, 0.58);
}

.card-item-container.status-warning .card-item {
  background: linear-gradient(180deg, #CC0066 0%, rgba(204, 0, 102, 0.2) 100%);
  box-shadow: inset 0px 2px 6px 0px rgba(255, 255, 255, 0.65);
}

.card-item-container.status-warning::before {
  background: radial-gradient(ellipse 50% 50%, rgba(204, 0, 102, 1) 0%, rgba(204, 0, 102, 0) 100%);
  filter: blur(19px);
}

.card-item-container.status-warning:hover .card-item {
  border: none;
}

.card-item-text-container {
  width: 100%;
  /* Todo: padding */
  padding: 0 12px;
}

.card-item-title,
.card-item-description {
  /* Todo: font-size min 12px */
  font-size: 8px;
  font-weight: var(--font-weight-500);
  color: var(--color-normal-text);
}

.card-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
