.dynamic-form-wrapper {
  border-radius: 6px;
  padding: 16px;
  background: var(--color-fill-bg-base-1);
}

.remove-btn {
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 12px;
  padding: 2px;
  margin-left: 8px;
}
.remove-btn-wrapper {
  padding-top: 4px;
}

.dynamic-form > *:not(.remove-btn-wrapper) {
  flex: 1;
  margin-right: 4px;
}

.add-btn {
  width: calc(100% - 34px);
}

.dynamic-form-item:first-child {
  .dynamic-form:has(*[label]) {
    .remove-btn-wrapper {
      margin-top: 22px;
    }
  }
}
