* {
  box-sizing: border-box;
}
:host {
  display: block;
  position: relative;
  overflow: hidden;
  --animation-dasharray: 48;
  --stroke-dashoffset: 96;
  --dasharray: 4;
}

:host,
.root {
  width: 100%;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.root {
  opacity: 0;
}

.root.ready {
  opacity: 1;
}

.root:focus {
  outline: none;
}

@keyframes dashedAnimation {
  0% {
    stroke-dashoffset: var(--stroke-dashoffset);
  }

  to {
    stroke-dashoffset: 0;
  }
}
@keyframes solidAnimation {
  to {
    stroke-dashoffset: 0;
  }
}
.solid-animation {
  stroke-dasharray: var(--solid-length);
  stroke-dashoffset: var(--solid-length);
  animation: solidAnimation var(--time) linear infinite;
}
.dashed-animation {
  animation: dashedAnimation var(--time) linear infinite;
}

.decorator-area .area {
  fill: rgba(119, 141, 195, 0.1);
  stroke: none;
  stroke-width: 0;
}

.node,
.decorator-text {
  overflow: visible;
}

.cell.active .decorator-area .area,
.allowEdgeToArea .decorator-area .area:hover,
.cell.active .line-active-bg {
  stroke: var(--palette-blue-5);
  stroke-dasharray: var(--dasharray);
  stroke-width: 1;
}

.cell:not(.read-only) {
  user-select: none;
}

.resize-handle {
  cursor: nwse-resize;
  opacity: 0;
}

.resize-handle rect {
  fill: transparent;
  stroke: none;
}

.resize-handle path {
  fill: none;
  stroke: var(--palette-gray-5);
  stroke-width: 1.5;
}

.cell.active .decorator-area .resize-handle,
.decorator-area:hover .resize-handle {
  opacity: 1;
}

.connect-line {
  pointer-events: none;
}

.connect-line:not(.connecting) {
  display: none;
}

.line.dashed {
  stroke-dasharray: var(--dasharray);
}

.cell.active .decorator-text .text-container {
  outline: 1px dashed var(--palette-blue-5);
}

.decorator-text .text-container {
  width: max-content;
  padding: 0.5em;
}

.decorator-text .text:focus {
  outline: none;
}

.cell.faded {
  opacity: 0.3;
}

.cell .node {
  pointer-events: none;
}

.cell .node > * {
  pointer-events: auto;
}

.degraded {
  pointer-events: bounding-box;
}

.degraded circle {
  fill: rgb(119, 141, 195);
}

.degraded text {
  text-anchor: middle;
  fill: var(--antd-text-color);
}

.cell.active .degraded circle,
.cell.active .degraded text,
.degraded:hover circle,
.degraded:hover text {
  fill: var(--color-brand);
}
