.zoom-bar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
}

.zoom-slider,
.center-button {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid var(--antd-background-color-base);
  border-radius: var(--larger-border-radius);
  box-shadow: var(--connected-overlay-shadow);
  background-color: var(--color-fill-bg-container-4);
}

.zoom-slider {
  height: 140px;
  padding: 8px 0;
  flex-direction: column;
}

[role="button"] {
  cursor: pointer;
}

.center-button {
  justify-content: center;
  margin-bottom: 8px;
  height: 40px;
}

.center-button:hover {
  border-color: var(--antd-btn-default-hover-border-color);
}

.center-button path {
  fill: var(--antd-link-hover-color);
}

.center-button:hover path {
  fill: var(--palette-blue-7);
}

.zoom-button {
  font-size: 16px;
  line-height: 0;
}

.zoom-button svg {
  width: 1em;
  height: 1em;
  fill: var(--antd-link-hover-color);
}

.zoom-slider .ant-slider-vertical {
  padding-inline: 5px;
}

.zoom-slider .ant-slider-vertical .ant-slider-rail {
  width: 2px;
}

.zoom-slider .ant-slider-vertical .ant-slider-handle {
  width: 6px;
  height: 6px;
  inset-inline-start: 3px;
}

.zoom-slider .ant-slider .ant-slider-handle:hover::before,
.zoom-slider .ant-slider .ant-slider-handle:focus::before,
.zoom-slider .ant-slider .ant-slider-handle::before {
  width: 10px;
  height: 10px;
  inset-inline-start: -2px;
}

.zoom-slider .ant-slider .ant-slider-handle:hover::after,
.zoom-slider .ant-slider .ant-slider-handle:focus::after,
.zoom-slider .ant-slider .ant-slider-handle::after {
  width: 6px;
  height: 6px;
  inset-block-start: 0;
  inset-inline-start: 0;
}
