:host {
  --local-footer-height: 62px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.main-and-aside {
  display: flex;
}

.main-and-aside,
.aside {
  height: 100%;
}

.header,
.main-and-aside {
  min-height: 0;
}

.main {
  flex-grow: 1;
  display: flex;
}

.main,
.sidebar,
.sub-sidebar,
.content {
  min-width: 0;
}

.header,
.sidebar,
.sub-sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.footer {
  display: none;
  position: sticky;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

:host([fixed-footer]) .footer,
.pinned {
  background: var(--color-fill-global-bg-2);
  box-shadow: var(--slide-up-shadow);
}

:host([fixed-footer][show-footer]) .content {
  display: flex;
  flex-direction: column;
}

:host([fixed-footer][show-footer]) slot:not([name])::slotted(*) {
  flex-grow: 1;
}

.footer > eo-narrow-view {
  display: flex;
  align-items: center;
  gap: var(--toolbar-button-gap);
  height: var(--local-footer-height);
}

:host([show-footer]) .footer {
  display: block;
}

/* https://github.com/w3c/csswg-drafts/issues/3559#issuecomment-1758459996 */
@supports not (inset: 0) {
  .footer > eo-narrow-view {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
  }
}
