:root {
  --eo-launchpad-v2-background: #fff;
  --eo-launchpad-v2-menu-icon-color: #8c8c8c;
}

html[data-theme="dark"],
html[data-theme="dark-v2"] {
  --eo-launchpad-v2-background: #26262a;
  --eo-launchpad-v2-menu-icon-color: rgba(255, 255, 255, 0.45);
}
