.fadeEnter {
  opacity: 0;
  transform: scale(0.95);
}

.fadeEnterActive {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 100ms ease-out,
    transform 100ms ease-out;
}

.fadeExit {
  transform: translate(-30px, 0);
}

.fadeExitActive {
  transform: translate(-100%, 0);
  transition: transform 300ms ease-out;
}

.fadeExitDone {
  display: none;
}
