:host {
  display: inline-block;
  width: 32px;
  height: 32px;
  --eo-launchpad-v2-max-height: calc(100vh - var(--app-bar-height) - 10px);
}

:host([hidden]) {
  display: none;
}

.launchpad-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  cursor: pointer;
  user-select: none;
  border-radius: 3px;
}

.launchpad-button:hover,
.launchpad-button.active {
  background-color: var(--color-fill-bg-base-1);
}

.launchpad-button.active {
  color: var(--color-brand);
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.mask.active {
  display: block;
}

.launchpad {
  display: none;
  position: absolute;
  margin-top: 4px;
  z-index: 1;
  width: 1110px;
  max-width: calc(100vw - 100px);
  max-height: var(--eo-launchpad-v2-max-height);
  min-height: 50vh;
  /* Chrome >= 79 */
  min-height: min(500px, var(--eo-launchpad-v2-max-height));
  background-color: var(--eo-launchpad-v2-background);
  border: 1px solid var(--color-text-divider-line);
  border-radius: 6px;
  box-shadow: var(--fullscreen-overlay-shadow);
}

.launchpad.active {
  display: flex;
}

.sidebar {
  width: 190px;
  display: flex;
  flex-direction: column;
  background: var(--color-fill-bg-base-3);
  min-width: 0;
  background-image: url("../images/launchpad-sidebar.png");
  background-size: 205px 205px;
  background-repeat: no-repeat;
  background-position: left 52px bottom 27px;
}

.sidebar > *:not(:last-child) {
  border-bottom: 1px solid var(--stroke-color-default);
}

.quick-nav-label,
.platform-nav-label,
.solution-nav-label,
.scenario-nav-label,
.menu-group-label,
.menu-item-label,
.recent-visits span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-menu,
.menu-groups,
.menu,
.sub-menu,
.recent-visits,
.platform-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu,
.menu,
.sub-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sidebar-menu-item > eo-link,
.menu-item > eo-link,
.recent-visits eo-link {
  display: block;
  min-width: 0;
}

.sidebar-menu-item > eo-link::part(link),
.menu-item > eo-link::part(link) {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-header-text);
}

.sidebar-menu-item {
  padding: 0 12px 0 16px;
  justify-content: space-between;
}

.sidebar-menu-icon {
  color: var(--left-sidebar-item-collapsed-icon-color);
}

.quick-nav,
.platform-nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0 24px;
  overflow: hidden;
  flex: 1;
}

.quick-nav-label,
.platform-nav-label {
  color: var(--color-header-text);
  font-weight: 500;
  margin-bottom: 14px;
  padding: 0 16px;
}

.quick-nav-menu,
.platform-nav-menu {
  flex: 1;
  overflow-y: auto;
}

.scenario-nav > eo-link,
.solution-nav > eo-link {
  display: block;
  cursor: pointer;
}
.scenario-nav > eo-link::part(link),
.solution-nav > eo-link::part(link) {
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solution-nav-label,
.scenario-nav-label {
  flex: 1;
  color: var(--color-header-text);
  font-weight: 500;
}

.solution-nav > eo-icon,
.scenario-nav > eo-icon {
  font-size: 14px;
  color: var(--text-color-default);
}

.content {
  flex: 1;
  padding: 20px 24px 24px;
  min-width: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-box {
  border-bottom: 1px solid var(--color-text-divider-line);
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 0;
  margin-top: -10px;
  cursor: text;
}

.search-icon {
  color: var(--color-auxiliary-text);
}

.search-input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  font-size: 14px;
  line-height: 22px;
  flex: 1;
  min-width: 0;
}

.search-input::placeholder {
  color: var(--color-disabled-text);
  opacity: 1;
}

.search-clear {
  display: none;
  color: var(--color-secondary-text);
  cursor: pointer;
}

.search-clear.searching {
  display: inline-block;
}

.search-clear:hover {
  color: var(--color-auxiliary-text);
}

.menu-groups,
.recent-visits {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.menu-groups {
  display: grid;
  gap: 32px 8px;
}

.menu-group {
  padding-right: 12px;
  color: var(--color-header-text);
}

.menu-group-label {
  font-size: var(--card-title-font-size);
  font-weight: 500;
  color: var(--color-header-text);
  margin-bottom: 14px;
}

.sidebar-menu-item,
.menu-item:not(.folder) {
  display: flex;
  gap: 8px;
  align-items: center;
}

.menu-icon {
  color: var(--eo-launchpad-v2-menu-icon-color);
}

.menu-item.active,
.menu-item.active .menu-icon {
  color: var(--color-brand-active);
}

.sub-menu:not(.expanded) {
  display: none;
}

.sub-menu {
  margin-top: 14px;
  margin-left: 8px;
  border-left: 1px solid var(--color-text-divider-line);
  padding-left: 15px;
}

.menu-item-remove,
.menu-item-star {
  cursor: pointer;
}

.menu-item-remove,
.menu-item-star,
.menu-item-toggle {
  color: var(--color-secondary-text);
}

.sidebar-menu-item:not(:hover) .menu-item-remove {
  display: none;
}

.menu-item-remove:hover {
  color: var(--color-normal-text);
}

.menu-item-remove:active {
  color: var(--color-strong-text);
}

.menu-item-star {
  display: none;
}

.can-star.starred > .menu-item-star,
.can-star:hover > .menu-item-star {
  display: inline-block;
}

.can-star:not(.starred) > .menu-item-star {
  color: var(--color-secondary-text);
}

.starred > .menu-item-star {
  color: var(--palette-yellow-6);
}

.recent-visits-label {
  margin-bottom: 12px;
  font-size: var(--card-title-font-size);
  color: var(--color-header-text);
  font-weight: 500;
}

.recent-visits {
  display: grid;
  gap: 8px;
}

.recent-visits eo-link::part(link) {
  background-color: var(--color-fill-bg-base-1);
  border-radius: 3px;
  color: var(--color-header-text);
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 8px;
}

.sidebar-menu-item > eo-link:hover::part(link),
.sidebar-menu-item > eo-link:hover .sidebar-menu-icon,
.menu-item > eo-link:hover::part(link),
.menu-item > eo-link:hover .menu-icon,
.menu-item > eo-link:hover .menu-item-toggle,
.recent-visits eo-link:hover::part(link) {
  color: var(--color-brand-hover);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-doderblue-color);
  flex: 1;
  font-size: 30px;
}

.empty,
.loading > :not(.spinner) {
  display: none;
}

/* https://github.com/w3c/csswg-drafts/issues/3559#issuecomment-1758459996 */
@supports not (inset: 0) {
  .content,
  .search-box,
  .sidebar-menu,
  .menu,
  .sub-menu,
  .sidebar-menu-item,
  .menu-item:not(.folder),
  .sidebar-menu-item > eo-link::part(link),
  .menu-item > eo-link::part(link) {
    gap: 0;
  }

  .sidebar-menu > :not(:first-child),
  .menu > :not(:first-child),
  .sub-menu > :not(:first-child) {
    margin-top: 14px;
  }

  .search-icon,
  .sidebar-menu-icon,
  .menu-icon {
    margin-right: 8px;
  }

  .search-clear,
  .menu-item-star,
  .menu-item-toggle {
    margin-left: 8px;
  }

  .content > :not(:last-child) {
    margin-bottom: 24px;
  }
}
