:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.logo-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-link {
  cursor: pointer;
}

.personalized-logo {
  height: 24px;
  vertical-align: top;
}

.easyops-icon {
  display: block;
  font-size: 24px;
  color: var(--color-brand);
}
