.scrollContainer {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 3px;
    background-color: rgba(69, 69, 73, 0.45);
  }

  &::-webkit-scrollbar-track {
    visibility: hidden;
    width: 12px;
    background-color: rgb(140, 140, 140, 0.2);
  }
  &:hover {
    background: rgba(18, 21, 26, 0.4);
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      visibility: visible;
    }
  }
}

.siteMapContainer {
  padding-top: 10px;
  column-count: 5;

  .groupWrapper {
    margin: 0 30px;
    break-inside: avoid;

    .group {
      margin: 0;
      padding: 9px 0 58px;
    }
    .item {
      list-style-type: none;
      font-size: 12px;
      padding: 5px 0px;
      > a {
        color: rgba(255, 255, 255, 0.65);
        &:hover {
          color: var(--antd-link-hover-color);
        }
      }
    }
  }
}
