.appLink {
  display: flex;
  width: 80px;
  height: 80px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  &.circle,
  &.square {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &.small {
    width: 56px;
    height: 56px;

    @media (max-height: 860px), (max-width: 1280px) {
      &.appLink {
        transform: scale(0.8);
      }
      & + .appName {
        font-size: 14px;
        height: 21px;
      }
    }

    @media (max-height: 700px), (max-width: 1024px) {
      &.appLink {
        transform: scale(0.7);
      }
      & + .appName {
        font-size: 12px;
        height: 18px;
      }
    }
  }

  &.circle {
    border-radius: 40px;
  }

  &.square {
    border-radius: 10px;
  }

  &.installing {
    opacity: 0.5;
  }

  &:hover {
    .addIcon {
      display: block;
    }
  }
}

.addIcon {
  position: absolute;

  font-size: 20px;
  color: white;
  display: none;
}

.circleIcon {
  right: -7px;
  bottom: 5px;
}

.squareIcon {
  right: -3px;
  bottom: 5px;
}

.appLink:hover {
  color: #fff;
  opacity: 0.6;
}

.appIcon {
  width: 100%;
}

.appName {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  height: 24px;
  text-align: center;
}

@media (max-height: 860px), (max-width: 1280px) {
  .appLink {
    transform: scale(0.75);
  }
  .appName {
    font-size: 14px;
    height: 21px;
  }
}

@media (max-height: 700px), (max-width: 1024px) {
  .appLink {
    transform: scale(0.6);
  }
  .appName {
    font-size: 12px;
    height: 18px;
  }
}

@media (max-height: 640px), (max-width: 900px) {
  .appLink {
    transform: scale(0.5);
  }
}
