.drawerWrapper {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 1000;
}
.drawerWrapper.open,
.drawerWrapper.close
{
    transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1),
    box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}

.drawerBody{
    display: flex;
    min-width: 200px;
    height: 100%;
    background: var(--color-fill-global-bg);
}
.drawerWrapper.open {
    transform: translate(0, 0);
}
.drawerWrapper.close {
    transform: translateX(100%);
}
.drawerBodyHidden {
    display: none;
}
.menuWrapper {
    position: relative;
    width: 46px;
    height: 100%;
    background: var(--color-fill-bg-base-1);
}

.menuMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41,109,255,0.8);
    opacity: 0.1;
    filter: blur(50px);
    pointer-events:none;
}
.closeIconBtn{
    position: absolute;
    top: 50%;
    left: -17px;
    width: 17px;
    height: 40px;
    background: linear-gradient(180deg, #232431 0%, #15191F 53%, #232431 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0 0 4px;
}
.closeIconBtn:hover {
    background: #3B3C4F;
}
.closeIcon {
   width: 3px;
    height: 11px;
    border-left: 2px solid var(--color-normal-text);
    border-right: 2px solid var(--color-normal-text);
}

.menuIconItem {
    width: 100%;
    height: 46px;
    text-align: center;
    line-height: 46px;
    color: var(--color-normal-text);
    background: rgba(25,26,34,0);
    opacity: 0.4;
    position: relative;
}
.menuIconItem:hover {
    opacity: 0.8;
}
.menuIconItem.active {
    background: var(--color-fill-global-bg);
    opacity: 1;
}

.menuIconItemHover:hover  > .menuIconTooltip{
    display: block;
}
.menuIconTooltip {
    display: none;
    position: absolute;
    right: 55px;
    top: 7px;
    line-height: 20px;
    padding: 8px 15px 8px 8px;
    font-size: var(--chart-tooltips-font-size-2);
    color: var(--color-normal-text);
    width: auto;
    white-space: nowrap;
    --treemap-tooltip-background: rgba(103, 149, 219, 0.12) radial-gradient(100% 100% ellipse at 12px 4px, rgba(var(--palette-tech-blue-6-channel), 0.3), rgba(var(--palette-tech-blue-6-channel), 0));
    --treemap-backdrop-filter: blur(5px);
    z-index: 0;
}
.menuIconTooltip:before,
.menuIconTooltip:after {
    content: "";
    clear: both;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: var(--treemap-tooltip-background);
    backdrop-filter: var(--treemap-backdrop-filter);
}
.menuIconTooltip::before {
    clip-path: inset(0 7px 0 0 round var(--medius-border-radius));
}

.menuIconTooltip::after {
    clip-path: polygon(calc(100% - 7px) calc(50% - 7px), 100% 50%, calc(100% - 7px) calc(50% + 7px));
}

.content {
    flex: 1;
}
