@font-face {
  font-family: HarmonyOSSans;
  src: url("./HarmonyOSSans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: HarmonyOSSans;
  src: url("./HarmonyOSSansBold.ttf");
  font-weight: bold;
}
