:host,
.center,
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  position: relative;
  color: #fff;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.bubbles-container {
  width: 800px;
  height: 640px;
  position: relative;
  transform: scale(var(--scale));

  --scale: 1;
}

.bg,
.outer-ring,
.inner-ring,
.center,
.light,
.bubbles,
.bubble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg,
.outer-ring,
.inner-ring,
.center {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bg {
  width: 572px;
  height: 572px;
  background-image: url(./assets/bg.png);
}

.outer-ring {
  width: 529px;
  height: 529px;
  background-image: url(./assets/outer-ring.png);
  animation: rotating-outer-ring 2s ease-in infinite;
}

.inner-ring {
  width: 487px;
  height: 487px;
  background-image: url(./assets/inner-ring.png);
  animation: rotating-inner-ring 2s ease-in infinite;
}

.center {
  flex-direction: column;
  width: 292px;
  height: 292px;
  background-image: url(./assets/center-bubble.png);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.light {
  width: 292px;
  height: 292px;
  border-radius: 292px;
  background: url(./assets/light.png) no-repeat;
  background-size: 338px 478px;
  animation: moving-light 3s linear infinite;
}

.bubbles {
  width: 0;
  height: 0;
}

.bubble {
  flex-direction: column;
  border-radius: 9999px;
  background-image: url(./assets/other-bubble.png);
  background-size: 100%;
}

.bubble-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #c8e2ff;
}

.bubble-value {
  font-family: ALiBaBaPuHuiTi;
  font-size: 24px;
  line-height: 33px;
  text-shadow: 0px 4px 7px #514af7;
}

.center-label {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  margin-top: 13px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.center-value {
  font-family: PangMenZhengDaoBiaoTiTi;
  font-size: 64px;
  line-height: 73px;
}

.corner {
  position: absolute;
  top: 13px;
  left: 31px;
  font-size: 18px;
}

.corner-item {
  display: flex;
  margin-bottom: 15px;
}

.corner-label {
  font-weight: 500;
  line-height: 25px;
}

.corner-value {
  display: block;
  margin-left: 19px;
}

@keyframes rotating-outer-ring {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotating-inner-ring {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes moving-light {
  0%,
  73.3333% {
    background-position: -122px -332px;
  }

  100% {
    background-position: 100px 100px;
  }
}
