.notification::part(base) {
  border-radius: 32px;
  border: var(--antd-message-border);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.14) !important;
  backdrop-filter: blur(20px);
}

.notification::part(icon) {
  padding-inline-start: 22px;
  font-size: 28px;
}

.notification::part(message) {
  padding: 16px 22px 16px 8px;
}

.notification[variant="success"]::part(base) {
  background: var(--antd-message-bg-success);
}

.notification[variant="success"]::part(icon) {
  color: var(--palette-green-6);
}

.notification[variant="primary"]::part(base) {
  background: var(--antd-message-bg-info);
}

.notification[variant="primary"]::part(icon) {
  color: var(--palette-blue-6);
}

.notification[variant="danger"]::part(base) {
  background: var(--antd-message-bg-error);
}

.notification[variant="danger"]::part(icon) {
  color: var(--palette-red-6);
}

.notification[variant="warning"]::part(base) {
  background: var(--antd-message-bg-warn);
}

.notification[variant="warning"]::part(icon) {
  color: var(--palette-amber-6);
}

.topRight::part(base) {
  width: 28rem;
  margin-right: 16px;
}
.rectAngle::part(base) {
  border-radius: 0px;
}
.title {
  font-size: 16px;
  color: var(--antd-heading-color);
}
