:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}

.complete-container {
  position: relative;
}

.option-container {
  display: flex;
  flex-direction: column;
  margin: 2px 4px;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: var(--medius-border-radius);
  .label {
    line-height: 22px;
  }
  .caption {
    font-size: var(--auxiliary-font-size-small);
    color: var(--color-secondary-text);
    line-height: 20px;
  }
}
.option-container:hover {
  background-color: var(--antd-select-item-active-bg);
}

.group-wrapper .option-container {
  padding-left: 24px;
}
.group-item {
  color: var(--antd-text-color-secondary);
  font-size: 12px;
  margin: 2px 4px;
  padding: 5px 12px;
}
.selected-option {
  background-color: var(--color-info-icon-bg);
}

.dropdown-wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--antd-select-dropdown-bg);
  box-shadow: var(--antd-box-shadow-base);
  z-index: 1050;
  margin-top: 5px;
  padding: 4px 2px;
  border-radius: var(--small-border-radius);
}

.dropdown-list {
  max-height: 256px;
  overflow: scroll;
}

eo-input {
  width: 100%;
}
