:root {
  --vb-workbench-action-color: #616161;
  --vb-workbench-action-active-color: #1f1f1f;
  --vb-workbench-action-active-border-color: #005fb8;
}

html[data-theme="dark"],
html[data-theme="dark-v2"] {
  --vb-workbench-action-color: rgba(255, 255, 255, 0.4);
  --vb-workbench-action-active-color: #fff;
  --vb-workbench-action-active-border-color: #fff;
}
