.action::part(link) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
  transition: none;
}

.action.active::part(link)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: white;
}

.action.active::part(link),
.action::part(link):hover {
  color: white;
}
