.action::part(link) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  color: var(--vb-workbench-action-color);
  position: relative;
  transition: none;
}

.action.active::part(link)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: var(--vb-workbench-action-active-border-color);
}

.action.active::part(link),
.action::part(link):hover {
  color: var(--vb-workbench-active-color);
}
