:root {
  --eo-tabs-default-border-radius: var(--tabs-outlined-border-radius);
  --eo-tabs-default-header-padding: var(--tabs-outlined-header-padding);
  --eo-tabs-default-content-padding: var(--tabs-outlined-content-padding);
  --eo-tabs-default-background: var(--tabs-outlined-background);
  --eo-tabs-default-shadow: var(--tabs-outlined-shadow);
}

html[data-ui="v8-2"] {
  --eo-tabs-default-border-radius: 0;
  --eo-tabs-default-header-padding: var(--tabs-header-padding);
  --eo-tabs-default-content-padding: var(--tabs-content-padding);
  --eo-tabs-default-background: none;
  --eo-tabs-default-shadow: none;
}
