.tab-wrapper {
  border-radius: 6px;
}

.tab-wrapper.show-card {
  /* background: var(--antd-tabs-title-wrapper-bg); */
  box-shadow: var(--antd-tabs-shadow);
}

.tab-nav {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: var(--antd-tabs-title-wrapper-bg);
}

.tab-nav:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--antd-tabs-title-border-color);
}

.tab-nav.panel {
  padding: 0;
  border-left: 1px solid var(--antd-tabs-title-border-color);
}

.tab-item-wrapper {
  display: flex;
  margin-right: 12px;
}

.content {
  background: var(--antd-tabs-title-wrapper-bg);
  padding: 16px var(--page-card-gap);
}
