:host {
  --eo-tabs-border-radius: var(--eo-tabs-default-border-radius);
  --eo-tabs-header-padding: var(--eo-tabs-default-header-padding);
  --eo-tabs-content-padding: var(--eo-tabs-default-content-padding);
  --eo-tabs-background: var(--eo-tabs-default-background);
  --eo-tabs-shadow: var(--eo-tabs-default-shadow);
}

:host([outline="shadow"]:not([type="panel"])) {
  --eo-tabs-border-radius: var(--tabs-outlined-border-radius);
  --eo-tabs-header-padding: var(--tabs-outlined-header-padding);
  --eo-tabs-content-padding: var(--tabs-outlined-content-padding);
  --eo-tabs-background: var(--tabs-outlined-background);
  --eo-tabs-shadow: var(--tabs-outlined-shadow);
}

:host([outline="none"]),
:host([type="panel"]) {
  --eo-tabs-border-radius: 0;
  --eo-tabs-header-padding: var(--tabs-header-padding);
  --eo-tabs-content-padding: var(--tabs-content-padding);
  --eo-tabs-background: none;
  --eo-tabs-shadow: none;
}

.tab-wrapper {
  border-radius: var(--eo-tabs-border-radius);
  background: var(--eo-tabs-background);
  box-shadow: var(--eo-tabs-shadow);
}

.tab-nav {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--eo-tabs-header-padding);
}

.tab-nav:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--antd-tabs-title-border-color);
}

:host([type="panel"]) .tab-nav {
  padding: 0;
  border-left: 1px solid var(--antd-tabs-title-border-color);
  background: var(--antd-component-background);
}

.tab-item-wrapper {
  display: flex;
  margin-right: 12px;
}

:host(:not([type="panel"])) .tab-item-wrapper {
  gap: 20px;
}

.content {
  padding: var(--eo-tabs-content-padding);
}
