:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: var(--vb-workbench-action-list-background);
}

:host([hidden]) {
  display: none;
}
