.category-container-wrapper {
  background: var(--antd-component-background);
}

.category-item {
  position: relative;
  padding: var(--category-item-padding);
}

.category-item:first-child {
  padding-top: 0px;
}

.category-item:last-child {
  padding-bottom: 0px;
}

:host([split]) .category-item:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  margin: var(--category-split-margin);
  background: var(--color-text-divider-line);
}

.category-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--category-header-padding);
}

.category-left-wrap {
  display: flex;
  align-items: center;
}

.header-mark {
  display: inline-block;
  width: 3px;
  height: 16px;
  background: var(--color-brand);
  border-radius: 2px;
  margin-right: 6px;
}

.header-title {
  font-size: var(--card-title-font-size);
  font-weight: var(--font-weight-500);
  color: var(--color-header-text);
  line-height: 24px;
}

.category-item-content {
  padding: var(--category-content-padding);
}

.header-index {
  margin-right: 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: var(--palette-blue-1);
  text-align: center;
  border-radius: 50%;
  font-size: var(--auxiliary-font-size-small);
  font-weight: var(--font-weight-500);
  color: var(--palette-blue-6);
}
