body {
  background-color: transparent;
}

#preview-root {
  padding: 0;
  height: auto;
  max-height: 100vh;
  overflow-y: auto;
  border: 1px solid var(--theme-gray-border-color);
  border-radius: 4px;
  background: var(--body-background);
}

.head-cell {
  position: sticky;
  top: 0;
  z-index: 1;
  font-weight: bold;
}

.head-cell,
.body-cell {
  background: var(--body-background);
}

.body-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-col-cell {
  border-right-color: transparent;
}

.last-row-cell {
  border-bottom-color: transparent;
}

.form-container > ::part(message) {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
}

.raw-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color-secondary);
}

.raw-content.expand {
  white-space: pre-wrap;
}

.tips {
  color: var(--text-color-secondary);
  font-weight: normal;
}

.body-cell:not(:hover) .btn-toggle {
  visibility: hidden;
}
