:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

* {
  box-sizing: border-box;
}

.container,
iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.container {
  position: relative;
  /* box-shadow: rgba(204, 204, 204, 0.2) 0px 0px 0px 1px; */
}

iframe {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  transform-origin: 0% 0%;
  user-select: none;
}
