.quick-answer-wrapper {
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  padding: 16px 24px;
  .tip {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .quick-answer-list {
    display: grid;
    gap: 24px 16px;
    border-radius: 3px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    .quick-answer-card-item {
      position: relative;
      padding: 16px;
      border-radius: 6px;
      cursor: pointer;
      display: flex;
      padding: 10px 20px;
      gap: 12px;
      width: auto;
      box-sizing: border-box;

      &:hover {
        box-shadow: 1px 2px 9px #ddd;
      }

      .left {
        .icon {
          font-size: 20px;
          color: #fff;
          padding: 8px;
          border-radius: 6px;
          margin-top: 4px;
        }
      }

      .content {
        .title {
          font-size: 16px;
          font-weight: bold;
          color: var(--color-normal-text);
        }

        .description {
          color: var(--color-auxiliary-text);
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }

  .show-more-wrapper {
    text-align: center;
    margin-top: 20px;
    .show-more-btn {
      line-height: 24px;

      &::after,
      &::before {
        content: "- - - - -";
        color: #d9d9d9;
        position: absolute;
      }

      &::before {
        margin-left: -60px;
      }

      &::after {
        margin-left: 10px;
      }
    }
  }
}
