:root {
  --message-box-bg: #f1f3f4;
  --search-input-icon-hover: #ddd;
  --quick-answer-card-item-hover: 0px 7px 8px 0px rgba(0, 0, 0, 0.15);
}

html[data-theme="dark"],
html[data-theme="dark-v2"] {
  --message-box-bg: rgba(255, 255, 255, 0.16);
  --search-input-icon-hover: #383838;
  --quick-answer-card-item-hover: 0px 7px 8px 0px rgba(0, 0, 0, 0.24);
}
