:host {
  display: block;
  height: 100%;
}

:host([hidden]) {
  display: none;
}

.chat-view-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.chat-view-selector {
  width: 200px;
  padding: 14px;
  border-right: 1px solid var(--color-border-divider-line);
}

.chat-view-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  .chat-view-toolbar {
    background: #e0e4e5;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .username {
      color: #333333;
      font-weight: 500;
      line-height: 22px;
      font-size: 16px;
    }
  }
  .chat-view {
    max-width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

/* 会话列表 */
.session-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .session-title {
    font-size: 16px;
    color: var(--color-header-text);
    margin-bottom: 16px;
  }
  .session-list {
    overflow-y: auto;

    .session-item {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      border-radius: var(--small-border-radius);
      background-color: var(--third-menu-default-bg);
      padding: 6px 18px;
      color: var(--color-header-text);
      margin-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .content {
        width: 0;
        flex: 1;
        .title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:hover {
        .session-close-btn {
          eo-icon {
            display: block;
          }
        }
      }

      &:hover {
        .session-edit-btn {
          eo-icon {
            display: block;
          }
        }
      }

      &:first-child {
        margin-top: 0px;
      }

      &.active {
        background-color: var(--third-menu-item-selected-bg);
        color: var(--color-brand);
      }

      &:hover,
      &.active:hover {
        color: var(--color-header-text);
        background-color: var(--third-menu-item-hover-bg);
      }

      .session-close-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        margin-left: 6px;

        &:hover {
          color: var(--color-error);
        }

        eo-icon {
          display: none;
        }
      }

      .session-edit-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 12px;

        &:hover {
          color: var(--color-info);
        }

        eo-icon {
          display: none;
        }
      }
    }
  }
}

/* 消息列表 */
.message-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding: 12px;
  flex: 1;
  margin: 0 auto;
  max-width: 1556px;
  width: 100%;
  box-sizing: border-box;

  .message-list-box {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 36px;

    .message-item {
      display: flex;
      gap: 8px;
      padding-right: 40px;

      &:last-child {
        margin-bottom: 10px;
      }

      &.user {
        flex-direction: row-reverse;
        padding: 0;
        padding-left: 40px;

        .message-box {
          margin-bottom: 0;
          overflow: hidden;
          .message-top {
            flex-direction: row-reverse;
          }
          .message-content {
            justify-content: flex-end;
            .wrapper {
              /* display: flex;
              flex-direction: row-reverse; */
              .content {
                background-color: #606f7c;
                color: #fff;

                .ProseMirror.prose {
                  /* 修改markdown字体颜色 */
                  color: #fff;
                }
              }
              /* &:hover {
                .content-tip {
                  display: block;
                }
              } */

              /* .content-tip {
                display: none;

                eo-icon {
                  padding: 4px;
                  color: #606f7c;
                  cursor: pointer;
                }
              } */
            }
          }
        }
      }

      .avatar {
        width: 36px;
        height: 36px;
        margin-top: 32px;
        border-radius: 50%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.user {
          background-image: url("./assets/user.png");
        }

        &.robot {
          background-image: url("./assets/robot.png");
        }
      }

      .message-box {
        position: relative;
        flex: 1;
        overflow: hidden;
        .message-content {
          display: flex;
          justify-content: start;
          position: relative;
          .wrapper {
            position: relative;
            overflow: hidden;
            .content {
              position: relative;
              padding: 14px;
              border-radius: 6px;
              overflow: hidden;
              background: var(--message-box-bg);

              .text-item {
                white-space: pre-wrap;
              }
            }
            .message-toolbar {
              display: flex;
              gap: 12px;
              justify-content: flex-end;
              margin-top: 4px;

              eo-icon {
                cursor: pointer;
                color: #606f7c;

                &.active {
                  color: var(--color-brand);
                }
              }

              .split {
                width: 1px;
                height: 16px;
                background-color: #d9d9d9;
                margin-bottom: 1px;
              }
            }
          }
        }

        .message-top {
          display: flex;
          margin-bottom: 4px;
          color: #bec8ce;
          gap: 8px;

          .time {
            min-height: 22px;
          }
        }
      }
    }

    .stop-responding-wrapper {
      position: absolute;
      left: 44px;
      bottom: -28px;
    }
  }

  .tool-calls {
    width: fit-content;
    max-width: 100%;
    padding: 14px;
    border-radius: 6px;
    background: var(--message-box-bg);
    margin-bottom: 8px;

    pre {
      margin-top: 1em;
      padding: 0.5em;
      border: 1px solid var(--palette-gray-5);
      border-radius: 4px;
      font-size: 12px;
    }
  }

  .tool-calls-summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: fit-content;
  }

  .tool-calls-summary-toggle {
    color: var(--color-secondary-text);
  }

  .tool-calls-status,
  .tool-call-function-name {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .tool-calls-status {
    &.processing {
      color: var(--color-secondary-text);
    }

    &.ok {
      color: var(--color-success);
    }

    &.failed {
      color: var(--color-error);
    }
  }

  .tool-call {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--palette-gray-5);
  }

  .tool-call-function-name {
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .tool-call-wait-response {
    margin: 1em 0;
  }
}

/* 搜索框 */
.search-input-box {
  display: flex;
  flex-direction: column;
  height: 87px;
  padding: 12px;
  position: relative;
  margin: 0 auto;
  max-width: 1556px;
  width: 100%;
  box-sizing: border-box;

  .input-toolbar {
    position: absolute;
    bottom: 71%;
    left: 12px;
    right: 12px;
  }

  .mentions-list-wrapper {
    position: absolute;
    bottom: 100%;
    left: 12px;
    right: 12px;
    z-index: 1;

    .content {
      background-color: var(--antd-input-bg);
      border-radius: 6px;
      border: 1px solid var(--palette-gray-4);
      padding: 8px;

      .mentions-title {
        font-size: 14px;
        font-weight: bold;
        color: var(--color-strong-text);
        padding-bottom: 8px;
      }

      .mentions-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 300px;
        overflow-y: auto;
        .mentions-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          padding: 8px;
          border-radius: 6px;
          cursor: pointer;
          .icon {
            font-size: 18px;
            padding: 8px;
            border-radius: 50%;
          }
          .name {
            color: var(--color-normal-text);
          }
          .description {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: var(--color-disabled-text);
          }

          &:hover,
          &.active {
            background: var(--palette-gray-3);
          }
        }
      }
    }
  }

  .snippets-list-wrapper {
    position: absolute;
    bottom: 100%;
    left: 12px;
    right: 12px;
    z-index: 1;

    .content {
      background-color: var(--antd-input-bg);
      border-radius: 6px;
      border: 1px solid var(--palette-gray-4);
      padding: 8px;

      .snippets-title {
        font-size: 14px;
        font-weight: bold;
        color: var(--color-strong-text);
        padding-bottom: 8px;
      }

      .snippets-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 300px;
        overflow-y: auto;
        .snippets-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          padding: 8px;
          border-radius: 6px;
          cursor: pointer;
          .icon {
            font-size: 18px;
            padding: 8px;
            border-radius: 50%;
          }
          .name {
            color: var(--color-normal-text);
          }
          .description {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 12px;
            color: var(--color-disabled-text);
          }

          &:hover,
          &.active {
            background: var(--palette-gray-3);
          }
        }
      }
    }
  }

  &.fill-content {
    border-top: 1px solid rgba(197, 197, 197, 0.5);
  }

  .input-box {
    position: absolute;
    bottom: 20px;
    left: 12px;
    right: 12px;
    display: inline-flex;
    padding: var(--input-affix-wrapper-padding);
    border-radius: var(--small-border-radius);
    height: fit-content;
    color: var(--text-color-default);
    background-color: var(--antd-input-bg);
    border: 1px solid var(--color-border-divider-line);
    transition: border-color 0.3s;
    overflow: visible;

    &.active {
      border-color: var(--antd-input-focus-border-color);
    }
    &.disabled {
      pointer-events: none;
      background: var(--input-outline-disabled);
      cursor: not-allowed;
    }
    &.expand {
      textarea {
        padding-right: 50px;
        margin-bottom: 50px;
      }
    }

    textarea {
      width: 100%;
      height: 22px;
      font-size: 18px;
      resize: none;
      padding: 10px 50px 10px 10px;
      outline: none;
      border: none;
      line-height: 20px;
      color: var(--color-normal-text);
      background-color: transparent;
      cursor: inherit;
      transition: all 300ms ease-out;
      box-sizing: content-box;

      &::placeholder {
        color: #b0b1b8;
      }
    }

    .suffix-icon {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      right: 12px;
      bottom: 6px;

      eo-tooltip {
        display: flex;
      }

      eo-icon {
        font-size: 20px;
        cursor: pointer;
        padding: 6px;
        border-radius: 3px;
        &:not(.disabled):hover {
          background: var(--search-input-icon-hover);
        }
      }

      .submit-split {
        width: 1px;
        height: 20px;
        background: #d1d1d1;
      }

      .submit-btn {
        &.active {
          color: var(--color-brand);
        }
        &.disabled {
          color: var(--color-disabled-text);
          cursor: not-allowed;
        }
      }
    }

    .toolbar-icon {
      position: absolute;
      top: 12px;
      right: 14px;
      eo-icon {
        font-size: 20px;
        cursor: pointer;
        padding: 6px;
        border-radius: 3px;
        &:hover {
          background: var(--search-input-icon-hover);
        }
      }
    }
  }

  .search-input-toolbar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 12px;
    bottom: 0px;
    .input-tip {
      font-size: 12px;
      color: var(--color-secondary-text);
    }
  }
}

.message-start-tip,
.session-end-tip {
  color: var(--color-disabled-text);
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  position: relative;

  &::after,
  &::before {
    content: "- - -";
    color: var(--color-disabled-text);
    position: absolute;
  }

  &::before {
    margin-left: -35px;
  }

  &::after {
    margin-left: 10px;
  }
}

.session-search-input-box {
  position: relative;
  display: inline-flex;
  padding: var(--input-affix-wrapper-padding);
  border-radius: var(--small-border-radius);
  height: fit-content;
  color: var(--text-color-default);
  background-color: var(--antd-input-bg);
  border: 1px solid var(--color-border-divider-line);
  margin-bottom: 8px;

  input {
    width: 100%;
    padding: 4px 28px 4px 8px;
    outline: none;
    border: none;
    color: var(--color-normal-text);
    background-color: transparent;
    cursor: inherit;
    transition: all 300ms ease-out;
    box-sizing: content-box;

    &::placeholder {
      color: #b0b1b8;
    }
  }

  .suffix-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--color-secondary-text);

    eo-tooltip {
      display: flex;
    }

    eo-icon {
      font-size: 18px;
      cursor: pointer;
      padding: 6px;
      border-radius: 3px;
      &:not(.disabled):hover {
        color: var(--color-info-active);
      }
    }
  }
}
