:root {
  --eo-banner-title-color: #57689c;
  --eo-banner-desc-color: #3c4875;
}

html[data-theme="dark"],
html[data-theme="dark-v2"] {
  --eo-banner-title-color: rgba(255, 255, 255, 0.85);
  --eo-banner-desc-color: rgba(255, 255, 255, 0.65);
}
