:host {
  --eo-banner-padding-horizontal: 60px;
  --eo-banner-padding-vertical: 36px;

  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: var(--eo-banner-padding-vertical) var(--eo-banner-padding-horizontal);
}

:host([hidden]) {
  display: none;
}

.container,
.title-and-desc {
  display: flex;
  flex-direction: column;
}

.container {
  gap: var(--card-content-gap);
}

.title-and-desc {
  gap: 14px;
  max-width: 800px;
}

.page-title {
  color: var(--eo-banner-title-color);
}

.page-desc {
  color: var(--eo-banner-desc-color);
}

/* https://github.com/w3c/csswg-drafts/issues/3559#issuecomment-1758459996 */
@supports not (inset: 0) {
  .container {
    gap: 0;
  }

  .title-and-desc {
    gap: 0;
    margin-bottom: var(--card-content-gap);
  }

  :host([banner-title]) .page-desc {
    margin-top: 14px;
  }
}
