:host {
  display: block;
  position: relative;
  background: var(--antd-dropdown-menu-bg);
  border: 1px solid var(--antd-btn-default-border);
  border-radius: var(--medius-border-radius);
  padding: 4px;
  overflow: auto;
}

* {
  box-sizing: border-box;
}
