:host {
  display: block;
  --menu-item-icon-size: 20px;
}

:host([hidden]) {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.menu-group-title {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 8px 12px;
  line-height: 20px;
  color: var(--left-secondary-text-color);
  border-radius: var(--larger-border-radius);
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

.menu-group-title-icon-container {
  flex-shrink: 0;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--menu-item-icon-size);
  height: var(--menu-item-icon-size);
  color: var(--left-sidebar-item-collapsed-icon-color);
  font-size: var(--menu-item-icon-size);
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

.menu-group-title-icon {
  width: 1em;
  height: 1em;
  border-bottom: 2px solid var(--left-sidebar-group-border-color);
}

.menu-group-title-text {
  flex: 1;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 12px;
}

.menu-group-list slot::slotted(*) {
  margin-top: 2px;
}

.menu-group-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 10px;
  transform: translateY(-2px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-group-arrow::before,
.menu-group-arrow::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentColor;
  border-radius: 2px;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.menu-group-arrow::before {
  transform: rotate(45deg) translateX(2.5px);
}

.menu-group-arrow::after {
  transform: rotate(-45deg) translateX(-2.5px);
}

.menu-group-collapsed .menu-group-arrow {
  transform: translateY(-50%);
}

.menu-group-collapsed .menu-group-arrow::before {
  transform: rotate(-45deg) translateX(2.5px);
}

.menu-group-collapsed .menu-group-arrow::after {
  transform: rotate(45deg) translateX(-2.5px);
}

/** menu-group-list */
.menu-group-list {
  display: grid;
  grid-template-rows: 1fr;
  transition: all var(--side-bar-collapse-transition-duration)
    var(--side-bar-collapse-transition-timing-function);
}

.menu-group-list-inner {
  overflow: hidden;
}

/* menu-collapsed */
:host([menu-collapsed]) .menu-group-title {
  padding: 0px calc(50% - var(--menu-item-icon-size) / 2);
}

:host(:not([menu-collapsed])) .menu-group-title-icon-container {
  width: 0;
  margin-right: 0;
  opacity: 0;
}

:host([menu-collapsed]) .menu-group-title-text {
  opacity: 0;
}

:host([menu-collapsed]) .menu-group-arrow {
  opacity: 0;
}

:host(:not([menu-collapsed])) .menu-group-title-text {
  white-space: pre-wrap;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #7f8ba6;
}

/* collapsable & group list hidden */
:host([collapsable]) .menu-group-collapsed .menu-group-list {
  grid-template-rows: 0fr;
  opacity: 0;
}
