:host {
  display: inline-block;
}

:host([hidden]) {
  display: none;
}
.timeRange {
  display: flex;
  align-items: center;
  width: fit-content;
}
.timeRange .timeRangeSplit {
  width: 32px !important;
  height: 30px;
  background: var(--input-fill-bg);
  pointer-events: none;
  border-left: 0;
  border-right: 0;
  display: inline-flex;
  justify-content: center;
  pointer-events: none;
  border-color: var(--antd-border-color-base);
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  align-items: center;
  color: var(--text-color-disabled);
  box-sizing: border-box;
}

.timeRange .ant-picker:first-child {
  margin-right: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  flex: 1;
}

.timeRange .ant-picker:last-child {
  margin-right: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  flex: 1;
}

.timeRange
  .ant-picker-dropdown
  .ant-picker-panel-container
  .ant-picker-footer
  .ant-picker-ranges {
  margin-top: 0px;
}
