:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.description-content {
  padding: var(--description-content-padding);
}

.description-item {
  display: flex;
}

.description-item-label {
  color: var(--antd-description-item-label-color);
}

.description-item-content {
  color: var(--antd-description-item-content-color);
}

.description-item.horizontal {
  flex-direction: inherit;
}

.description-item.vertical {
  flex-direction: column;
  margin-bottom: 10px;
}

.description-item.horizontal > span:first-child {
  margin-right: 12px;
}

.description-item.vertical > span:first-child {
  margin-bottom: 8px;
}

.description-content.bordered {
  border-top: 1px solid var(--antd-border-color-split);
  border-right: 1px solid var(--antd-border-color-split);
}
.description-item.bordered {
  box-sizing: border-box;
  border-left: 1px solid var(--antd-border-color-split);
  border-bottom: 1px solid var(--antd-border-color-split);
}

.description-item.horizontal.bordered > span:first-child {
  margin-right: 0;
  padding: 10px;
  min-width: 150px;
}

.description-item.horizontal.bordered > span:last-child {
  padding: 10px;
}

.description-item.vertical.bordered {
  margin-bottom: 0;
}

.description-item.vertical.bordered > span:first-child {
  margin-bottom: 0;
  padding: 10px;
}

.description-item.vertical.bordered > span:last-child {
  padding: 10px;
}

.description-item.bordered > span:first-child {
  background-color: var(--eo-descriptions-label-background);
}
