:host {
  --eo-banner-sunk-gap: 36px;
  --eo-banner-sunk-offset: 38px;
  --local-content-gap: var(--card-content-gap);

  display: flex;
  flex-direction: column;
  gap: var(--local-content-gap);
  padding: var(--page-padding-top) var(--page-padding-right)
    var(--page-padding-bottom) var(--page-padding-left);
  position: relative;
}

:host([hidden]) {
  display: none;
}

:host([content-gap="small"]) {
  --local-content-gap: 8px;
}

:host([no-padding]) {
  padding: 0;

  eo-banner {
    margin: 0;
    padding: 0;
  }
}

eo-banner {
  margin-top: calc(-1 * var(--page-padding-top));
  margin-left: calc(-1 * var(--page-padding-left));
  margin-right: calc(-1 * var(--page-padding-right));
}

:host(:not([banner-alone])) eo-banner {
  padding-top: var(--page-padding-top);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  padding-bottom: 0;
}

.breadcrumb,
.titlebar {
  display: flex;
  align-items: center;
}

.titlebar {
  justify-content: space-between;
  height: 50px;
}

:host([banner-alone]) .breadcrumb,
:host([banner-alone]) .titlebar {
  display: none;
}

.toolbar,
.page-title,
.footer > eo-narrow-view {
  display: flex;
  align-items: center;
  gap: var(--toolbar-button-gap);
}

:host([banner-sunk]) {
  --local-content-gap: 0;
}

:host([banner-sunk]) eo-banner {
  padding-bottom: calc(
    var(--eo-banner-sunk-gap) + var(--eo-banner-sunk-offset)
  );
}

:host([banner-sunk]) .content {
  margin-top: calc(-1 * var(--eo-banner-sunk-offset));
}

:host([fill-container]) {
  height: 100%;
}

:host([fill-container]) .content {
  flex-grow: 1;
  min-height: 0;
}

.footer {
  display: none;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-left: calc(-1 * var(--page-padding-left));
  margin-right: calc(-1 * var(--page-padding-right));
  margin-bottom: calc(-1 * var(--page-padding-bottom));
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

.pinned {
  background: var(--color-fill-global-bg-2);
  /* box-shadow: 0px -4px 16px 0px rgba(0,0,0,0.08); */
  box-shadow: var(--slide-up-shadow);
}

.footer > eo-narrow-view {
  padding: 15px 0;
}

:host([show-footer]) .footer {
  display: block;
}

.dashboard {
  position: relative;
  height: 76px;
  margin-top: -4px;
  padding-bottom: 8px;
}

.dashboard-logo {
  position: absolute;
  top: -5px;
  left: 0;
  color: rgba(255, 255, 255, 0.25);
}

.dashboard-exit {
  position: absolute;
  right: 0;
  top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #192d49;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.dashboard-exit:hover {
  color: var(--antd-link-color);
}

.dashboard .page-title {
  background: url(../images/dashboard-title-decorator-center.svg) center bottom
    no-repeat;
  background-size: 100% 45px;
  height: 100%;
}

.dashboard-title-before,
.dashboard-title-after {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.dashboard-title-before {
  background: url(../images/dashboard-title-decorator-left.svg) right bottom
    no-repeat;
}

.dashboard-title-after {
  background: url(../images/dashboard-title-decorator-right.svg) left bottom
    no-repeat;
}

.dashboard slot[name="pageTitle"]::slotted(*) {
  height: 100%;
}

/* https://github.com/w3c/csswg-drafts/issues/3559#issuecomment-1758459996 */
@supports not (inset: 0) {
  :host,
  :host([content-gap="small"]) {
    gap: 0;
  }

  :host(:not([banner-sunk])) .content,
  .footer {
    margin-top: var(--local-content-gap);
  }

  .toolbar,
  .footer > eo-narrow-view {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
  }
}
