:host {
  --banner-sunk-gap: 36px;
  --banner-sunk-offset: 38px;

  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap);
  padding: var(--page-padding-top) var(--page-padding-right)
    var(--page-padding-bottom) var(--page-padding-left);
  position: relative;
}

:host([hidden]) {
  display: none;
}

:host([content-gap="small"]) {
  gap: 8px;
}

eo-banner {
  margin-top: calc(-1 * var(--page-padding-top));
  margin-left: calc(-1 * var(--page-padding-left));
  margin-right: calc(-1 * var(--page-padding-right));
}

:host(:not([banner-alone])) eo-banner {
  padding-top: var(--page-padding-top);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  padding-bottom: 0;
}

.breadcrumb,
.titlebar {
  display: flex;
  align-items: center;
}

.titlebar {
  justify-content: space-between;
  height: 50px;
}

:host([banner-alone]) .breadcrumb,
:host([banner-alone]) .titlebar {
  display: none;
}

.toolbar,
.footer > eo-narrow-view {
  display: flex;
  align-items: center;
  gap: var(--toolbar-button-gap);
}

:host([banner-sunk]) {
  gap: 0;
}

:host([banner-sunk]) eo-banner {
  padding-bottom: calc(var(--banner-sunk-gap) + var(--banner-sunk-offset));
}

:host([banner-sunk]) .content {
  margin-top: calc(-1 * var(--banner-sunk-offset));
}

:host([fill-container]) {
  height: 100%;
}

:host([fill-container]) .content {
  flex-grow: 1;
  min-height: 0;
}

.footer {
  display: none;
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-left: calc(-1 * var(--page-padding-left));
  margin-right: calc(-1 * var(--page-padding-right));
  margin-bottom: calc(-1 * var(--page-padding-bottom));
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
}

.pinned {
  background: var(--color-fill-global-bg-2);
  /* box-shadow: 0px -4px 16px 0px rgba(0,0,0,0.08); */
  box-shadow: var(--slide-up-shadow);
}

.footer > eo-narrow-view {
  padding: 15px 0;
}

:host([show-footer]) .footer {
  display: block;
}
