:host {
  --banner-sunk-gap: 32px;
  --banner-sunk-offset: 42px;

  display: flex;
  flex-direction: column;
  gap: var(--card-content-gap);
  padding: var(--page-padding-top) var(--page-padding-right)
    var(--page-padding-bottom) var(--page-padding-left);
}

:host([hidden]) {
  display: none;
}

:host([content-gap="small"]) {
  gap: 8px;
}

eo-banner {
  margin-top: calc(-1 * var(--page-padding-top));
  margin-left: calc(-1 * var(--page-padding-left));
  margin-right: calc(-1 * var(--page-padding-right));
}

:host(:not([banner-alone])) eo-banner {
  padding-top: var(--page-padding-top);
  padding-left: var(--page-padding-left);
  padding-right: var(--page-padding-right);
  padding-bottom: 0;
}

.breadcrumb,
.titlebar {
  display: flex;
  align-items: center;
}

.titlebar {
  justify-content: space-between;
  height: 50px;
}

:host([banner-alone]) .breadcrumb,
:host([banner-alone]) .titlebar {
  display: none;
}

:host([banner-sunk]) {
  gap: 0;
}

:host([banner-sunk]) eo-banner {
  padding-bottom: calc(var(--banner-sunk-gap) + var(--banner-sunk-offset));
}

:host([banner-sunk]) .content {
  margin-top: calc(-1 * var(--banner-sunk-offset));
}

:host([fill-container]) {
  height: 100%;
}

:host([fill-container]) .content {
  flex-grow: 1;
  min-height: 0;
}
