:host {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1em;
  box-sizing: content-box !important;
}

:host[hidden] {
  display: none;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}
