.custom-category-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 12px;
  border-left: 2px solid;
  padding-left: 6px;
  border-color: #8d8d8d;
  margin-top: 18px;

  &:first-child {
    margin-top: 0;
  }
}
