.custom-category-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin: 16px -16px 6px -16px;
  padding-left: 16px;
  background-color: var(--palette-gray-6);

  &:first-child {
    margin-top: 0;
  }
}
