.modal-root.open {
  display: block;
}

.modal-root.hide {
  display: none;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--mask-bg);
  z-index: 1000;
}

.modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
}

.modal {
  position: relative;
  top: 100px;
  width: 520px;
  max-width: calc(100vw - 32px);
  margin: 0 auto;
  padding-bottom: 24px;
}

.modal-container {
  background-color: var(--antd-component-background);
  border: 1px solid var(--palette-gray-5);
  border-radius: 4px;
  box-shadow:
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  outline: 0;
}

.modal.has-sidebar .modal-container {
  display: flex;
}

.modal-sidebar {
  display: none;
}

.modal.has-sidebar .modal-sidebar {
  display: block;
  border-right: 1px solid var(--palette-gray-4);
  min-width: 220px;
}

.modal-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid var(--palette-gray-4);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  height: 16px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.fullscreen-btn,
.close-btn {
  cursor: pointer;
}

.modal-title {
  color: var(--color-strong-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}

.modal-body {
  padding: 24px;
}

.modal.has-sidebar .modal-body,
.modal.has-height .modal-body {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.modal-footer,
.modal-footer-buttons {
  display: flex;
  gap: var(--toolbar-button-gap);
}

.modal-footer {
  padding: 10px 24px;
  background-color: var(--color-fill-bg-base-3);
}

.modal-footer-buttons {
  margin-left: auto;
}

.has-height {
  max-height: calc(100vh - 124px);

  .modal-container,
  .modal-sidebar,
  .modal-main-content {
    height: 100%;
  }
}

:host([theme-variant="elevo"]) {
  .modal-container {
    border-radius: 12px;

    box-shadow:
      0px 9px 28px 8px rgba(0, 0, 0, 0.05),
      0px 6px 16px 0px rgba(0, 0, 0, 0.08),
      0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }

  .modal-header {
    border-bottom: 0;
    padding: 16px 20px;
  }

  .modal-body {
    padding: 16px 20px;
  }

  .modal-footer {
    border-radius: 0 0 12px 12px;
    background: none;
    padding: 16px 20px 20px;
  }

  .header-right {
    margin-top: 4px;
  }
}

:host([theme-variant="elevo"][header-bordered]) .modal-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fullscreen,
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  .modal {
    position: static;
    top: auto;
    margin: 0;
    padding: 0;
  }

  .has-height {
    max-height: 100%;
  }
}
